<!-- Support for accordion user interface on the home page. -->
<script type="text/javascript">
    // We assume that external libraries such as jquery.min.js have already been loaded outside!
    // (See _layouts/base.html.)

    var setupAccordions = function() {
        // Preserve state in URL hash, following in part
        // http://www.boduch.ca/2011/05/remembering-jquery-ui-accordion.html

        // Make subaccordions first, make them active to get height, and then close later.
        $(".jquery-ui-subaccordion-closed").accordion({collapsible: true, disabled: false, active: 0, heightStyle: "content"});

        // If the user clicks on an accordion line, get its language code
        // and save it as the hash #lcode in the current window's URL.
        var accordionChange = function(event, ui) {
            var context = ui.newHeader ? ui.newHeader.context : null;
            if (context) {
                var languageCode = context.getAttribute('data-lc');
                if (languageCode !== null) {
                    window.location.hash = languageCode;
                }
            }
        }
        // jQuery UI "accordion" element initialization
        $(".jquery-ui-accordion").accordion({
            collapsible: true,
            active: false,
            heightStyle: "content", // each panel will be only as tall as its content
            change: accordionChange
        });
        if ($(".jquery-ui-accordion").length) {
            var matches = window.location.hash.match(/^\#(.*)$/);
            console.log(matches);
            if (matches !== null) {
                var languageCode = matches[1];
                var tab = $('[data-lc="'+languageCode+'"]');
                // the following will only work after accordion is initialized
                var index = $('.jquery-ui-accordion div.ui-accordion-header').index(tab);
                if (index !== -1) {
                    $(".jquery-ui-accordion").accordion({ active: index });
                }
            }
        }
        // now reclose these accordions
        $(".jquery-ui-subaccordion-closed").accordion("option", "active", false);
    };

    head.ready(function() {
        console.timeEnd('loading libraries');
        console.time('setupAccordions');
        setupAccordions();
        console.timeEnd('setupAccordions');
    });
</script>
