  <!-- Except for class="jquery-ui-subaccordion-closed", all attributes of the accordion-related div elements can be generated during initialization of the page. However, the initialization takes up to 10 seconds and we want something reasonably nice to be visible as soon as possible. -->
  <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of English accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/GB.svg" /></span>
    <span class="doublewidespan">English</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="97,681 tokens 97,681 words 5,124 sentences">97K</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="learner-essays"><i class="fa fa-edit"></i></span></span>
    <span class="triplewidespan">IE, Germanic</span>
  </div> <!-- end of English accordion row -->

  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="" role="tabpanel"> <!-- start of English accordion body -->
  <!--initial style="height:558.8px; display: none" would make the page a bit better before setup is done but the height of the subaccordions would not be measured correctly-->

  <!-- empty space so tooltip fits -->
  <h3>English treebanks</h3>

    <div class="jquery-ui-subaccordion-closed ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist"> <!-- start of English treebank list -->
      
      <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of English / ESL entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">ESL</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="97,681 tokens 97,681 words 5,124 sentences">97K</span></span>
	    <span class="widespan"><span class="tagspan"><span class="hint--top hint--info" data-hint="Lemmas"><img class="propertylogo" src="logos/L.svg" /></span></span><span class="tagspan"><span class="hint--top hint--info" data-hint="Features"><img class="propertylogo" src="logos/F.svg" /></span></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="learner-essays"><i class="fa fa-edit"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000355"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: 149.8px;">

	    UD English-ESL / Treebank of Learner English (TLE) contains manual POS tag and dependency annotations for 5,124 English as a Second Language (ESL) sentences drawn from the Cambridge Learner Corpus First Certificate in English (FCE) dataset.

	    <ul>
	      <li>Contributors: Yevgeni Berzak, Jessica Kenney, Carolyn Spadine, Jing Xian Wang, Lucia Lam, Keiko Sophie Mori, Sebastian Garza, Boris Katz, Margarita Misirpashayeva </li>
          <li>Repository <a href="https://github.com/UniversalDependencies/UD_English-ESL/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_English-ESL/tree/dev">dev</a></li>
          <li><a href="https://github.com/UniversalDependencies/UD_English-ESL/blob/master/README.md">README</a></li>
	      <li><a href="treebanks/en_esl/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of English / ESL entry -->
      
    </div> <!-- end of English treebank list -->

    
    See <a href="treebanks/en-comparison.html">here</a> for comparative statistics of English treebanks.
    

    <h3> Language documentation </h3>

    
    See the <a href="en/index.html">language documentation page</a>.
    

  </div> <!-- end of English accordion body -->
  <!-- Except for class="jquery-ui-subaccordion-closed", all attributes of the accordion-related div elements can be generated during initialization of the page. However, the initialization takes up to 10 seconds and we want something reasonably nice to be visible as soon as possible. -->
  <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of French accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/FR.svg" /></span>
    <span class="doublewidespan">French</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="556,064 tokens 573,370 words 18,535 sentences">573K</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news"><i class="fa fa-newspaper-o"></i></span></span>
    <span class="triplewidespan">IE, Romance</span>
  </div> <!-- end of French accordion row -->

  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="" role="tabpanel"> <!-- start of French accordion body -->
  <!--initial style="height:558.8px; display: none" would make the page a bit better before setup is done but the height of the subaccordions would not be measured correctly-->

  <!-- empty space so tooltip fits -->
  <h3>French treebanks</h3>

    <div class="jquery-ui-subaccordion-closed ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist"> <!-- start of French treebank list -->
      
      <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of French / FTB entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">FTB</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="556,064 tokens 573,370 words 18,535 sentences">573K</span></span>
	    <span class="widespan"><span class="tagspan"><span class="hint--top hint--info" data-hint="Lemmas"><img class="propertylogo" src="logos/L.svg" /></span></span><span class="tagspan"><span class="hint--top hint--info" data-hint="Features"><img class="propertylogo" src="logos/F.svg" /></span></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news"><i class="fa fa-newspaper-o"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="LGPL-LR"><img class="license" src="logos/gpl.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000612"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: 149.8px;">

	    The Universal Dependency version of the French Treebank (Abeillé et al., 2003), hereafter UD_French-FTB, is a treebank of sentences from the newspaper Le Monde, initially manually annotated with morphological information and phrase-structure and then converted to the Universal Dependencies annotation scheme.

	    <ul>
	      <li>Contributors: Marie Candito, Bruno Guillaume, Teresa Lynn, Héctor Martínez Alonso, Benoît Sagot, Djamé Seddah, Eric Villemonte de la Clergerie </li>
          <li>Repository <a href="https://github.com/UniversalDependencies/UD_French-FTB/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_French-FTB/tree/dev">dev</a></li>
          <li><a href="https://github.com/UniversalDependencies/UD_French-FTB/blob/master/README.md">README</a></li>
	      <li><a href="treebanks/fr_ftb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of French / FTB entry -->
      
    </div> <!-- end of French treebank list -->

    
    See <a href="treebanks/fr-comparison.html">here</a> for comparative statistics of French treebanks.
    

    <h3> Language documentation </h3>

    
    See the <a href="fr/index.html">language documentation page</a>.
    

  </div> <!-- end of French accordion body -->
  <!-- Except for class="jquery-ui-subaccordion-closed", all attributes of the accordion-related div elements can be generated during initialization of the page. However, the initialization takes up to 10 seconds and we want something reasonably nice to be visible as soon as possible. -->
  <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of Hindi English accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/IN.svg" /></span>
    <span class="doublewidespan">Hindi English</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="26,909 tokens 26,909 words 1,898 sentences">26K</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="social"><i class="fa fa-feed"></i></span></span>
    <span class="triplewidespan">Code switching</span>
  </div> <!-- end of Hindi English accordion row -->

  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="" role="tabpanel"> <!-- start of Hindi English accordion body -->
  <!--initial style="height:558.8px; display: none" would make the page a bit better before setup is done but the height of the subaccordions would not be measured correctly-->

  <!-- empty space so tooltip fits -->
  <h3>Hindi English treebanks</h3>

    <div class="jquery-ui-subaccordion-closed ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist"> <!-- start of Hindi English treebank list -->
      
      <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of Hindi English / HIENCS entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">HIENCS</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="26,909 tokens 26,909 words 1,898 sentences">26K</span></span>
	    <span class="widespan"><span class="tagspan"><span class="hint--top hint--info" data-hint="Lemmas"><img class="propertylogo" src="logos/L.svg" /></span></span><span class="tagspan"><span class="hint--top hint--info" data-hint="Features"><img class="propertylogo" src="logos/F.svg" /></span></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="social"><i class="fa fa-feed"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000277"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: 149.8px;">

	    The Hindi-English Code-switching treebank is based on code-switching tweets of Hindi and English multilingual speakers (mostly Indian) on Twitter. The treebank is manually annotated using UD sceheme. The training and evaluations sets were seperately annotated by different annotators using UD v2 and v1 guidelines respectively. The evaluation sets are automatically converted from UD v1 to v2.

	    <ul>
	      <li>Contributors: Riyaz Ahmad Bhat, Irshad Ahmad Bhat </li>
          <li>Repository <a href="https://github.com/UniversalDependencies/UD_Hindi_English-HIENCS/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Hindi_English-HIENCS/tree/dev">dev</a></li>
          <li><a href="https://github.com/UniversalDependencies/UD_Hindi_English-HIENCS/blob/master/README.md">README</a></li>
	      <li><a href="treebanks/qhe_hiencs/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Hindi English / HIENCS entry -->
      
    </div> <!-- end of Hindi English treebank list -->

    

    <h3> Language documentation </h3>

    
    The language hub documentation has not yet been created or ported from the UDv1 documentation.
    

  </div> <!-- end of Hindi English accordion body -->
  <!-- Except for class="jquery-ui-subaccordion-closed", all attributes of the accordion-related div elements can be generated during initialization of the page. However, the initialization takes up to 10 seconds and we want something reasonably nice to be visible as soon as possible. -->
  <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of Japanese accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/JP.svg" /></span>
    <span class="doublewidespan">Japanese</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="2 treebanks">2</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="204,437 tokens 204,437 words 7,980 sentences">204K</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">Japanese</span>
  </div> <!-- end of Japanese accordion row -->

  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="" role="tabpanel"> <!-- start of Japanese accordion body -->
  <!--initial style="height:558.8px; display: none" would make the page a bit better before setup is done but the height of the subaccordions would not be measured correctly-->

  <!-- empty space so tooltip fits -->
  <h3>Japanese treebanks</h3>

    <div class="jquery-ui-subaccordion-closed ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist"> <!-- start of Japanese treebank list -->
      
      <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of Japanese / Modern entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">Modern</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="14,494 tokens 14,494 words 822 sentences">14K</span></span>
	    <span class="widespan"><span class="tagspan"><span class="hint--top hint--info" data-hint="Lemmas"><img class="propertylogo" src="logos/L.svg" /></span></span><span class="tagspan"><span class="hint--top hint--info" data-hint="Features"><img class="propertylogo" src="logos/F.svg" /></span></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="nonfiction"><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-NC-ND 3.0"><img class="license" src="logos/by-nc-nd.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.002899"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: 149.8px;">

	    This Universal Dependencies (UD) Japanese treebank is based on the definition of
UD Japanese convention described in the UD documentation.
The original sentences are from `Corpus of Historical Japanese&#39; (CHJ).

	    <ul>
	      <li>Contributors: Mai Omura, Masayuki Asahara, Yuta Takahashi </li>
          <li>Repository <a href="https://github.com/UniversalDependencies/UD_Japanese-Modern/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Japanese-Modern/tree/dev">dev</a></li>
          <li><a href="https://github.com/UniversalDependencies/UD_Japanese-Modern/blob/master/README.txt">README</a></li>
	      <li><a href="treebanks/ja_modern/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Japanese / Modern entry -->
      
      <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of Japanese / KTC entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">KTC</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="189,943 tokens 189,943 words 7,158 sentences">189K</span></span>
	    <span class="widespan"><span class="tagspan"><span class="hint--top hint--info" data-hint="Lemmas"><img class="propertylogo" src="logos/L.svg" /></span></span><span class="tagspan"><span class="hint--top hint--info" data-hint="Features"><img class="propertylogo" src="logos/F.svg" /></span></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news"><i class="fa fa-newspaper-o"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000347"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: 149.8px;">

	    Please add a summary section to the treebank readme file

	    <ul>
	      <li>Contributors: Masayuki Asahara, Hiroshi Kanayama, Yuji Matsumoto, Yusuke Miyao, Shunsuke Mori, Takaaki Tanaka, Sumire Uematsu </li>
          <li>Repository <a href="https://github.com/UniversalDependencies/UD_Japanese-KTC/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Japanese-KTC/tree/dev">dev</a></li>
          <li><a href="https://github.com/UniversalDependencies/UD_Japanese-KTC/blob/master/README.txt">README</a></li>
	      <li><a href="treebanks/ja_ktc/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Japanese / KTC entry -->
      
    </div> <!-- end of Japanese treebank list -->

    
    See <a href="treebanks/ja-comparison.html">here</a> for comparative statistics of Japanese treebanks.
    

    <h3> Language documentation </h3>

    
    See the <a href="ja/index.html">language documentation page</a>.
    

  </div> <!-- end of Japanese accordion body -->
  <!-- Except for class="jquery-ui-subaccordion-closed", all attributes of the accordion-related div elements can be generated during initialization of the page. However, the initialization takes up to 10 seconds and we want something reasonably nice to be visible as soon as possible. -->
  <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of Norwegian accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/NO.svg" /></span>
    <span class="doublewidespan">Norwegian</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="55,410 tokens 55,410 words 5,250 sentences">55K</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="spoken"><i class="fa fa-comment-o"></i></span></span>
    <span class="triplewidespan">IE, Germanic</span>
  </div> <!-- end of Norwegian accordion row -->

  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="" role="tabpanel"> <!-- start of Norwegian accordion body -->
  <!--initial style="height:558.8px; display: none" would make the page a bit better before setup is done but the height of the subaccordions would not be measured correctly-->

  <!-- empty space so tooltip fits -->
  <h3>Norwegian treebanks</h3>

    <div class="jquery-ui-subaccordion-closed ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist"> <!-- start of Norwegian treebank list -->
      
      <div class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"> <!-- start of Norwegian / NynorskLIA entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">NynorskLIA</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="55,410 tokens 55,410 words 5,250 sentences">55K</span></span>
	    <span class="widespan"><span class="tagspan"><span class="hint--top hint--info" data-hint="Lemmas"><img class="propertylogo" src="logos/L.svg" /></span></span><span class="tagspan"><span class="hint--top hint--info" data-hint="Features"><img class="propertylogo" src="logos/F.svg" /></span></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="spoken"><i class="fa fa-comment-o"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.006970"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: 149.8px;">

	    This Norwegian treebank is based on the LIA treebank of transcribed spoken Norwegian dialects.
The treebank has been automatically converted to the UD scheme by Lilja Øvrelid at the University of Oslo.

	    <ul>
	      <li>Contributors: Lilja Øvrelid, Andre Kaasen </li>
          <li>Repository <a href="https://github.com/UniversalDependencies/UD_Norwegian-NynorskLIA/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Norwegian-NynorskLIA/tree/dev">dev</a></li>
          <li><a href="https://github.com/UniversalDependencies/UD_Norwegian-NynorskLIA/blob/master/README.txt">README</a></li>
	      <li><a href="treebanks/no_nynorsklia/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Norwegian / NynorskLIA entry -->
      
    </div> <!-- end of Norwegian treebank list -->

    
    See <a href="treebanks/no-comparison.html">here</a> for comparative statistics of Norwegian treebanks.
    

    <h3> Language documentation </h3>

    
    See the <a href="no/index.html">language documentation page</a>.
    

  </div> <!-- end of Norwegian accordion body -->
