
  <div>   <!-- start of Assamese accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/IN.svg" /></span>
    <span class="doublewidespan">Assamese</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">IE, Indic</span>

  </div>   <!-- end of Assamese accordion row -->

  <div>   <!-- start of Assamese accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Assamese treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Assamese treebank list -->
       
     	  <div> <!-- start of Assamese / AsTB entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">AsTB</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see [release checklist](http://universaldependencies.org/release_checklist.html#the-readme-file) for README guidelines) ...

	    <ul>
	      <li>Contributors: Shikhar Sarma </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Assamese-AsTB/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Assamese-AsTB/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Assamese-AsTB/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/as_astb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Assamese / AsTB entry -->
       

    </div> <!-- end of Assamese treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Assamese accordion body -->

  <div>   <!-- start of Bengali accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/BD.svg" /></span>
    <span class="doublewidespan">Bengali</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="2 treebanks">2</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction reviews wiki"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i><i class="fa fa-thumbs-o-up"></i><i class="fa fa-wikipedia-w"></i></span></span>
    <span class="triplewidespan">IE, Indic</span>

  </div>   <!-- end of Bengali accordion row -->

  <div>   <!-- start of Bengali accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Bengali treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Bengali treebank list -->
       
     	  <div> <!-- start of Bengali / BRU entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">BRU</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Full manual check of the data"><i class="fa fa-user"></i></span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    Please add a summary section to the treebank readme file

	    <ul>
	      <li>Contributors: Siratun Jannat, Mizanur Rahoman, Shafi Sourov, Jannatul Ferdaousi, Syeda Shahzadi </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Bengali-BRU/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Bengali-BRU/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Bengali-BRU/blob/dev/README.txt">README</a></li>
	      <li><a href="treebanks/bn_bru/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Bengali / BRU entry -->
       
     	  <div> <!-- start of Bengali / DDS entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">DDS</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Automatic conversion with manual corrections"><i class="fa fa-cogs"></i><i class="fa fa-check"></i></span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="reviews wiki"><i class="fa fa-thumbs-o-up"></i><i class="fa fa-wikipedia-w"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    Please add a summary section to the treebank readme file

	    <ul>
	      <li>Contributors: Md. Anwarus Salam Khan, Md. Mahfuzus Salam Khan </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Bengali-DDS/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Bengali-DDS/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Bengali-DDS/blob/dev/README.txt">README</a></li>
	      <li><a href="treebanks/bn_dds/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Bengali / DDS entry -->
       

    </div> <!-- end of Bengali treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Bengali accordion body -->

  <div>   <!-- start of Cusco Quechua accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/PE.svg" /></span>
    <span class="doublewidespan">Cusco Quechua</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">Quechuan</span>

  </div>   <!-- end of Cusco Quechua accordion row -->

  <div>   <!-- start of Cusco Quechua accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Cusco Quechua treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Cusco Quechua treebank list -->
       
     	  <div> <!-- start of Cusco Quechua / Squoia entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">Squoia</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see [release checklist](http://universaldependencies.org/release_checklist.html#the-readme-file) for README guidelines) ...

	    <ul>
	      <li>Contributors: Annette Rios, Francis Tyers, Trey Jagiella, Josephine Douglas </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Cusco_Quechua-Squoia/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Cusco_Quechua-Squoia/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Cusco_Quechua-Squoia/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/quz_squoia/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Cusco Quechua / Squoia entry -->
       

    </div> <!-- end of Cusco Quechua treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Cusco Quechua accordion body -->

  <div>   <!-- start of Dargwa accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/RU-DA.svg" /></span>
    <span class="doublewidespan">Dargwa</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="spoken"><i class="fa fa-comment-o"></i></span></span>
    <span class="triplewidespan">Nakho-Dagestanian</span>

  </div>   <!-- end of Dargwa accordion row -->

  <div>   <!-- start of Dargwa accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Dargwa treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Dargwa treebank list -->
       
     	  <div> <!-- start of Dargwa / Mehweb entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">Mehweb</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="spoken"><i class="fa fa-comment-o"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-NC-SA 4.0"><img class="license" src="logos/by-nc-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see [release checklist](http://universaldependencies.org/release_checklist.html#the-readme-file) for README guidelines) ...

	    <ul>
	      <li>Contributors: Sasha Kozhukhar, Olga Lyashevskaya </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Dargwa-Mehweb/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Dargwa-Mehweb/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Dargwa-Mehweb/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/dar_mehweb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Dargwa / Mehweb entry -->
       

    </div> <!-- end of Dargwa treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Dargwa accordion body -->

  <div>   <!-- start of Georgian accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/GE.svg" /></span>
    <span class="doublewidespan">Georgian</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">Kartvelian</span>

  </div>   <!-- end of Georgian accordion row -->

  <div>   <!-- start of Georgian accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Georgian treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Georgian treebank list -->
       
     	  <div> <!-- start of Georgian / GNC entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">GNC</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see [release checklist](http://universaldependencies.org/release_checklist.html#the-readme-file) for README guidelines) ...

	    <ul>
	      <li>Contributors: Ana Kolkhidashvili </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Georgian-GNC/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Georgian-GNC/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Georgian-GNC/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/ka_gnc/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Georgian / GNC entry -->
       

    </div> <!-- end of Georgian treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Georgian accordion body -->

  <div>   <!-- start of Kannada accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/IN.svg" /></span>
    <span class="doublewidespan">Kannada</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="grammar-examples"><i class="fa fa-magic"></i></span></span>
    <span class="triplewidespan">Dravidian, Southern</span>

  </div>   <!-- end of Kannada accordion row -->

  <div>   <!-- start of Kannada accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Kannada treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Kannada treebank list -->
       
     	  <div> <!-- start of Kannada / MKG entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">MKG</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="grammar-examples"><i class="fa fa-magic"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    Examples from Modern Kannada Grammar by S.N.Sridhar.

	    <ul>
	      <li>Contributors: Taraka Rama, Sowmya Vajjala </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Kannada-MKG/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Kannada-MKG/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Kannada-MKG/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/kn_mkg/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Kannada / MKG entry -->
       

    </div> <!-- end of Kannada treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Kannada accordion body -->

  <div>   <!-- start of Kyrgyz accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/KG.svg" /></span>
    <span class="doublewidespan">Kyrgyz</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">Turkic, Northwestern</span>

  </div>   <!-- end of Kyrgyz accordion row -->

  <div>   <!-- start of Kyrgyz accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Kyrgyz treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Kyrgyz treebank list -->
       
     	  <div> <!-- start of Kyrgyz / KTB entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">KTB</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see http://universaldependencies.org/release_checklist.html#the-readme-file for README guidelines) ...

	    <ul>
	      <li>Contributors: Kamen Bonov </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Kyrgyz-KTB/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Kyrgyz-KTB/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Kyrgyz-KTB/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/ky_ktb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Kyrgyz / KTB entry -->
       

    </div> <!-- end of Kyrgyz treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Kyrgyz accordion body -->

  <div>   <!-- start of Macedonian accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/MK.svg" /></span>
    <span class="doublewidespan">Macedonian</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">IE, Slavic</span>

  </div>   <!-- end of Macedonian accordion row -->

  <div>   <!-- start of Macedonian accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Macedonian treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Macedonian treebank list -->
       
     	  <div> <!-- start of Macedonian / MTB entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">MTB</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    The Macedonian-MTB treebank is a collection of annotated sentences based on the raw and monolingual corpus called [Macedonian Language Digital Resources - MLDR](http://drmj.manu.edu.mk/%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D1%81%D0%BA%D0%B8-%D0%BA%D0%BE%D1%80%D0%BF%D1%83%D1%81-%D0%BD%D0%B0-%D0%BC%D0%B0%D0%BA%D0%B5%D0%B4%D0%BE%D0%BD%D1%81%D0%BA%D0%B8-%D0%BA%D0%BD%D0%B8/), a.k.a 135 Volumes of Macedonian Literature, published by the Macedonian Academy of Sciences and Arts under the CC Attribution-NonCommercial 4.0 International License. The treebank consists mainly of literary and a few non-fiction texts.

	    <ul>
	      <li>Contributors: Vladimir Cvetkoski </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Macedonian-MTB/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Macedonian-MTB/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Macedonian-MTB/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/mk_mtb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Macedonian / MTB entry -->
       

    </div> <!-- end of Macedonian treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Macedonian accordion body -->

  <div>   <!-- start of Maghrebi Arabic French accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/DZ.svg" /></span>
    <span class="doublewidespan">Maghrebi Arabic French</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">Code switching</span>

  </div>   <!-- end of Maghrebi Arabic French accordion row -->

  <div>   <!-- start of Maghrebi Arabic French accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Maghrebi Arabic French treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Maghrebi Arabic French treebank list -->
       
     	  <div> <!-- start of Maghrebi Arabic French / Arabizi entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">Arabizi</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see [release checklist](http://universaldependencies.org/release_checklist.html#the-readme-file) for README guidelines) ...

	    <ul>
	      <li>Contributors: Djamé Seddah </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Maghrebi_Arabic_French-Arabizi/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Maghrebi_Arabic_French-Arabizi/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Maghrebi_Arabic_French-Arabizi/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/qaf_arabizi/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Maghrebi Arabic French / Arabizi entry -->
       

    </div> <!-- end of Maghrebi Arabic French treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Maghrebi Arabic French accordion body -->

  <div>   <!-- start of Ndengeleko accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/TZ.svg" /></span>
    <span class="doublewidespan">Ndengeleko</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">Niger-Congo, Bantoid</span>

  </div>   <!-- end of Ndengeleko accordion row -->

  <div>   <!-- start of Ndengeleko accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Ndengeleko treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Ndengeleko treebank list -->
       
     	  <div> <!-- start of Ndengeleko / NTB entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">NTB</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see [release checklist](http://universaldependencies.org/release_checklist.html#the-readme-file) for README guidelines) ...

	    <ul>
	      <li>Contributors: Mariel Aquino </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Ndengeleko-NTB/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Ndengeleko-NTB/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Ndengeleko-NTB/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/ndg_ntb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Ndengeleko / NTB entry -->
       

    </div> <!-- end of Ndengeleko treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Ndengeleko accordion body -->

  <div>   <!-- start of Pnar accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/IN.svg" /></span>
    <span class="doublewidespan">Pnar</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="grammar-examples spoken"><i class="fa fa-magic"></i><i class="fa fa-comment-o"></i></span></span>
    <span class="triplewidespan">Austro-Asiatic, Khasian</span>

  </div>   <!-- end of Pnar accordion row -->

  <div>   <!-- start of Pnar accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Pnar treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Pnar treebank list -->
       
     	  <div> <!-- start of Pnar / PTB entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">PTB</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="grammar-examples spoken"><i class="fa fa-magic"></i><i class="fa fa-comment-o"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    UD Pnar-PTB is a conversion from the Ring (2017) dataset ([doi:10.21979/N9/KVFGBZ](http://dx.doi.org/10.21979/N9/KVFGBZ)) that underpins a grammatical description of the Pnar language (Ring 2015, [http://hdl.handle.net/10356/62519](http://hdl.handle.net/10356/62519)). The corpus consists of folktales and interviews transcribed, translated, and interlinearized.

	    <ul>
	      <li>Contributors: Hiram Ring </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Pnar-PTB/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Pnar-PTB/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Pnar-PTB/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/pbv_ptb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Pnar / PTB entry -->
       

    </div> <!-- end of Pnar treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Pnar accordion body -->

  <div>   <!-- start of Romansh accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/CH.svg" /></span>
    <span class="doublewidespan">Romansh</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="2 treebanks">2</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">IE, Romance</span>

  </div>   <!-- end of Romansh accordion row -->

  <div>   <!-- start of Romansh accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Romansh treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Romansh treebank list -->
       
     	  <div> <!-- start of Romansh / Rumgr entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">Rumgr</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Full manual check of the data"><i class="fa fa-user"></i></span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    Please add a summary section to the treebank readme file

	    <ul>
	      <li>Contributors: Sascha Brawer, Martin Cantieni </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Romansh-Rumgr/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Romansh-Rumgr/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Romansh-Rumgr/blob/dev/README.txt">README</a></li>
	      <li><a href="treebanks/rm_rumgr/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Romansh / Rumgr entry -->
       
     	  <div> <!-- start of Romansh / Sursilv entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">Sursilv</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Full manual check of the data"><i class="fa fa-user"></i></span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    Please add a summary section to the treebank readme file

	    <ul>
	      <li>Contributors: Sascha Brawer, Martin Cantieni </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Romansh-Sursilv/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Romansh-Sursilv/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Romansh-Sursilv/blob/dev/README.txt">README</a></li>
	      <li><a href="treebanks/rm_sursilv/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Romansh / Sursilv entry -->
       

    </div> <!-- end of Romansh treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Romansh accordion body -->

  <div>   <!-- start of Shipibo Konibo accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/PE.svg" /></span>
    <span class="doublewidespan">Shipibo Konibo</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">Panoan</span>

  </div>   <!-- end of Shipibo Konibo accordion row -->

  <div>   <!-- start of Shipibo Konibo accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Shipibo Konibo treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Shipibo Konibo treebank list -->
       
     	  <div> <!-- start of Shipibo Konibo / PUCP entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">PUCP</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Unknown">?</span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    ... 1-2 sentences (see [release checklist](http://universaldependencies.org/release_checklist.html#the-readme-file) for README guidelines) ...

	    <ul>
	      <li>Contributors: Ronald Ahmed Cárdenas Acosta </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Shipibo_Konibo-PUCP/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Shipibo_Konibo-PUCP/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Shipibo_Konibo-PUCP/blob/dev/README.md">README</a></li>
	      <li><a href="treebanks/shp_pucp/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Shipibo Konibo / PUCP entry -->
       

    </div> <!-- end of Shipibo Konibo treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Shipibo Konibo accordion body -->

  <div>   <!-- start of Somali accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/SO.svg" /></span>
    <span class="doublewidespan">Somali</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint=""></span></span>
    <span class="triplewidespan">Afro-Asiatic, Cushitic</span>

  </div>   <!-- end of Somali accordion row -->

  <div>   <!-- start of Somali accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Somali treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Somali treebank list -->
       
     	  <div> <!-- start of Somali / STB entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">STB</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Automatic conversion"><i class="fa fa-cogs"></i></span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint=""></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    Please add a summary section to the treebank readme file

	    <ul>
	      <li>Contributors: Morgan Nilsson </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Somali-STB/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Somali-STB/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Somali-STB/blob/dev/README.txt">README</a></li>
	      <li><a href="treebanks/so_stb/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Somali / STB entry -->
       

    </div> <!-- end of Somali treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Somali accordion body -->

  <div>   <!-- start of Sorani accordion row -->
    <span class="flagspan"><img class="flag" src="flags/svg/IQ-KRD.svg" /></span>
    <span class="doublewidespan">Sorani</span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="1 treebank">1</span></span>
    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
    <!-- English has so many genres that they no longer fit in doublewidespan. -->
    <span class="triplewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
    <span class="triplewidespan">IE, Iranian</span>

  </div>   <!-- end of Sorani accordion row -->

  <div>   <!-- start of Sorani accordion body -->

  <!-- empty space so tooltip fits -->
  <h3> Sorani treebanks</h3>

    <div class="jquery-ui-subaccordion-closed">     <!-- start of Sorani treebank list -->
       
     	  <div> <!-- start of Sorani / MG entry -->
	    <span class="flagspan"></span>
	    <span class="doublewidespan">MG</span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0 tokens 0 words 0 sentences">-</span></span>
	    <span class="widespan"><span class="tagspan"></span><span class="tagspan"></span><span class="tagspan"></span></span>
	    <!-- <span class="widespan"><span class="hint--top hint--info" data-hint="Automatic conversion"><i class="fa fa-cogs"></i></span></span> -->
	    <span class="doublewidespan"><span class="hint--top hint--info" data-hint="news nonfiction"><i class="fa fa-newspaper-o"></i><i class="fa fa-info-circle"></i></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="CC BY-SA 4.0"><img class="license" src="logos/by-sa.svg" /></span></span>
	    <span class="widespan"><span class="hint--top hint--info" data-hint="0.000000"><img src="/img/stars00.png" style="max-height:1em; vertical-align:middle" /></span></span>
	  </div>
	  <div>

	    Please add a summary section to the treebank readme file

	    <ul>
	      <li>Contributors: Memduh Gökırmak </li>
              <li>Repository <a href="https://github.com/UniversalDependencies/UD_Sorani-MG/tree/master">master</a> <a href="https://github.com/UniversalDependencies/UD_Sorani-MG/tree/dev">dev</a></li>
              <li><a href="https://github.com/UniversalDependencies/UD_Sorani-MG/blob/dev/README.txt">README</a></li>
	      <li><a href="treebanks/ckb_mg/index.html">Treebank hub page</a></li>
	      <li><a href="#download">Download</a></li>
	    </ul>

	    <p>&nbsp;</p>
	  </div> <!-- end of Sorani / MG entry -->
       

    </div> <!-- end of Sorani treebank list -->

    

  <h3> Language documentation </h3>

  
  The language hub documentation has not yet been created or ported from the UDv1 documentation.
  

  </div>   <!-- end of Sorani accordion body -->
