<table class="typeindex">
    <tr>
        <td>
            <table class="category">
            <tr><td><strong>Lexical features</strong></td></tr>
            <tr>
                <td><a>NumType</a></td>
            </tr>
            <tr>
                <td><a>Poss</a></td>
            </tr>
            <tr>
                <td><a>PronType</a></td>
            </tr>
            <tr>
                <td><a>Reflex</a></td>
            </tr>
            </table>
        </td>
        <td>
            <table class="category">
            <tr><td colspan="3"><strong>Inflectional features</strong></td></tr>
            <tr>
                <td><a>Definite</a></td>
            </tr>
            <tr>
                <td><a>Emph</a></td>
            </tr>
            <tr>
                <td><a>Gender</a></td>
            </tr>
            <tr>
                <td><a>Gender[psor]</a></td>
            </tr>
            <tr>
                <td><a>Mood</a></td>
            </tr>
            <tr>
                <td><a>Number</a></td>
            </tr>
            <tr>
                <td><a>Number[psor]</a></td>
            </tr>
            <tr>
                <td><a>Person</a></td>
            </tr>
            <tr>
                <td><a>Polarity</a></td>
            </tr>
            <tr>
                <td><a>VerbForm</a></td>
            </tr>
            </table>
        </td>
        <td>
            <table class="category">
            <tr><td colspan="3"><strong>Other features</strong></td></tr>
            <tr>
                <td><a>ExtPos</a></td>
            </tr>
            <tr>
                <td><a>Foreign</a></td>
            </tr>
        </table>
    </td>
    
    </tr>
</table>
