For core part-of-speech categories, see the [universal POS tags](../pos/index.html).
The features listed here distinguish additional lexical and grammatical properties of words,
not covered by the POS tags.

<table class="typeindex" border="1">
  <tr style="background-color:cornflowerblue;color:white">
    <td><strong>Lexical features</strong></td>
    <td colspan="2"><strong>Inflectional features</strong></td>
  </tr>
  <tr>
    <td></td>
    <td><i>Nominal*</i></td>
    <td><i>Verbal*</i></td>
  </tr>
        <tr>
          <td><a>PronType</a></td>
          <td><a>Gender</a></td>
          <td><a>VerbForm</a></td>
        </tr>
        <tr>
          <td><a>NumType</a></td>
          <td><a>Animacy</a></td>
          <td><a>Mood</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>NumForm</a></td>
          <td><a>Number</a></td>
          <td><a>Tense</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>NumValue</a></td>
          <td><a>Case</a></td>
          <td><a>Aspect</a></td>
        </tr>
        <tr>
          <td><a>Poss</a></td>
          <td><strong>+</strong><a>PrepCase</a></td>
          <td><a>Voice</a></td>
        </tr>
        <tr>
          <td><a>Reflex</a></td>
          <td><strong>+</strong><a>Variant</a></td>
          <td><strike><tt>Evident</tt></strike></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>NameType</a></td>
          <td><strike><tt>Definite</tt></strike></td>
          <td><a>Polarity</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>AdpType</a></td>
          <td><a>Degree</a></td>
          <td><a>Person</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>ConjType</a></td>
          <td><strong>+</strong><a>Gender[psor]</a><!--PossGender--></td>
          <td><strike><tt>Polite</tt></strike></td>
        </tr>
        <tr>
          <td><a>Abbr</a></td>
          <td><strong>+</strong><a>Number[psor]</a><!--PossNumber--></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Hyph</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a>Foreign</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Style</a></td>
          <td></td>
          <td></td>
        </tr>
</table>

\* The labels <i>Nominal</i> and <i>Verbal</i> are used as approximate categories only. There is no universal rule that a particular feature can only occur with verbs or nominals (although language-specific rules may define such constraints). Even the boundary between lexical and inflectional features is sometimes blurred: for example, gender is a lexical feature of nouns but an inflectional feature of adjectives or verbs.
