<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a href="en-dep/nsubj.html">nsubj</a></td>
	  <td><a href="en-dep/csubj.html">csubj</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/nsubjpass.html">nsubjpass</a></td>
	  <td><a href="en-dep/csubjpass.html">csubjpass</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/dobj.html">dobj</a></td>
	  <td><a href="en-dep/ccomp.html">ccomp</a></td>
	  <td><a href="en-dep/xcomp.html">xcomp</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/iobj.html">iobj</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Non-core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td><a href="en-dep/advcl.html">advcl</a></td>
	  <td><a href="en-dep/advmod.html">advmod</a></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td><a href="en-dep/nfincl.html">nfincl</a></td>
	  <td><a href="en-dep/neg.html">neg</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/nmod.html">nmod</a></td>
	  <td><a href="en-dep/ncmod.html">ncmod</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/npmod.html">↳npmod</a></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	  <td><a href="en-dep/tmod.html">↳tmod</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Special clausal dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td><a href="en-dep/vocative.html">vocative</a></td>
	  <td><a href="en-dep/aux.html">aux</a></td>
	  <td><a href="en-dep/mark.html">mark</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/discourse.html">discourse</a></td>
	  <td><a href="en-dep/auxpass.html">auxpass</a></td>
	  <td><a href="en-dep/punct.html">punct</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/expl.html">expl</a></td>
	  <td><a href="en-dep/cop.html">cop</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Noun dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a href="en-dep/nummod.html">nummod</a></td>
	  <td><a href="en-dep/relcl.html">relcl</a></td>
	  <td><a href="en-dep/amod.html">amod</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/appos.html">appos</a></td>
	  <td><a href="en-dep/nfincl.html">nfincl</a></td>
	  <td><a href="en-dep/det.html">det</a></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	  <td><a href="en-dep/predet.html">↳predet</a></td>
	</tr>	
	<tr>
	  <td><a href="en-dep/nmod.html">nmod</a></td>
	  <td><a href="en-dep/ncmod.html">ncmod</a></td>
	  <td><a href="en-dep/neg.html">neg</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Compounding and unanalyzed</b></td></tr>
	<tr>
	  <td><a href="en-dep/compound.html">compound</a></td>
	  <td><a href="en-dep/mwe.html">mwe</a></td>
	  <td><a href="en-dep/goeswith.html">goeswith</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/prt.html">↳prt</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/name.html">name</a></td>
	  <td><a href="en-dep/foreign.html">foreign</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Coordination</b></td></tr>
	<tr>
	  <td><a href="en-dep/conj.html">conj</a></td>
	  <td><a href="en-dep/cc.html">cc</a></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	  <td><a href="en-dep/preconj.html">↳preconj</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Case-marking, prepositions, possessive</b></td></tr>
	<tr>
	  <td><a href="en-dep/case.html">case</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/poss.html">↳poss</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Loose joining relations</b></td></tr>
	<tr>
	  <td><a href="en-dep/list.html">list</a></td>
	  <td><a href="en-dep/parataxis.html">parataxis</a></td>
	  <td><a href="en-dep/remnant.html">remnant</a></td>
	</tr>
	<tr>
	  <td><a href="en-dep/dislocated.html">dislocated</a></td>
	  <td></td><td><a href="en-dep/reparandum.html">reparandum</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Other</b></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a href="en-dep/root.html">root</a></td>
	  <td><a href="en-dep/dep.html">dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>

<p>Note: <i>nmod</i>, <i>ncmod</i>, <i>nfincl</i>, and <i>neg</i> appear
in two places.</p>
