<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a href="es/nsubj.html">nsubj</a></td>
	  <td><a href="es/csubj.html">csubj</a></td>
	</tr>
	<tr>
	  <td>nsubjpass</td>
	  <td>csubjpass</td>
	</tr>
	<tr>
	  <td>dobj</td>
	  <td>ccomp</td>
	  <td>xcomp</td>
	</tr>
	<tr>
	  <td>iobj</td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Non-core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>advcl</td>
	  <td>advmod</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>nfincl</td>
	  <td>neg</td>
	</tr>
	<tr>
	  <td>nmod</td>
	  <td>ncmod</td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Special clausal dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td>vocative</td>
	  <td>aux</td>
	  <td>mark</td>
	</tr>
	<tr>
	  <td>discourse</td>
	  <td>auxpass</td>
	  <td>punct</td>
	</tr>
	<tr>
	  <td>expl</td>
	  <td>cop</td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Noun dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td>nummod</td>
	  <td>relcl</td>
	  <td>amod</td>
	</tr>
	<tr>
	  <td>appos</td>
	  <td>nfincl</td>
	  <td>det</td>
	</tr>
	<tr>
	  <td>nmod</td>
	  <td>ncmod</td>
	  <td>neg</td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Compounding and unanalyzed</b></td></tr>
	<tr>
	  <td>compound</td>
	  <td>mwe</td>
	  <td>goeswith</td>
	</tr>
	<tr>
	  <td>name</td>
	  <td>foreign</td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Coordination</b></td></tr>
	<tr>
	  <td>conj</td>
	  <td>cc</td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Case-marking, prepositions, possessive</b></td></tr>
	<tr>
	  <td>case</td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Loose joining relations</b></td></tr>
	<tr>
	  <td>list</td>
	  <td>parataxis</td>
	  <td>remnant</td>
	</tr>
	<tr>
	  <td>dislocated</td>
	  <td></td><td>reparandum</td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Other</b></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td>root</td>
	  <td>dep</td>
	</tr>
      </table>

    </td>
  </tr>
</table>

Note: <i>nmod</i>, <i>ncmod</i>, <i>nfincl</i>, and <i>neg</i> appear
in two places.
