<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a href="es/nsubj.html">nsubj</a></td>
	  <td><a href="es/csubj.html">csubj</a></td>
	</tr>
	<tr>
	  <td><a href="es/nsubjpass.html">nsubjpass</a></td>
	  <td><a href="es/csubjpass.html">csubjpass</a></td>
	</tr>
	<tr>
	  <td><a href="es/dobj.html">dobj</a></td>
	  <td><a href="es/ccomp.html">ccomp</a></td>
	  <td><a href="es/xcomp.html">xcomp</a></td>
	</tr>
	<tr>
	  <td><a href="es/iobj.html">iobj</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Non-core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td><a href="es/advcl.html">advcl</a></td>
	  <td><a href="es/advmod.html">advmod</a></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td><a href="es/nfincl.html">nfincl</a></td>
	  <td><a href="es/neg.html">neg</a></td>
	</tr>
	<tr>
	  <td><a href="es/nmod.html">nmod</a></td>
	  <td><a href="es/ncmod.html">ncmod</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Special clausal dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td><a href="es/vocative.html">vocative</a></td>
	  <td><a href="es/aux.html">aux</a></td>
	  <td><a href="es/mark.html">mark</a></td>
	</tr>
	<tr>
	  <td><a href="es/discourse.html">discourse</a></td>
	  <td><a href="es/auxpass.html">auxpass</a></td>
	  <td><a href="es/punct.html">punct</a></td>
	</tr>
	<tr>
	  <td><a href="es/expl.html">expl</a></td>
	  <td><a href="es/cop.html">cop</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Noun dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a href="es/nummod.html">nummod</a></td>
	  <td><a href="es/relcl.html">relcl</a></td>
	  <td><a href="es/amod.html">amod</a></td>
	</tr>
	<tr>
	  <td><a href="es/appos.html">appos</a></td>
	  <td><a href="es/nfincl.html">nfincl</a></td>
	  <td><a href="es/det.html">det</a></td>
	</tr>
	<tr>
	  <td><a href="es/nmod.html">nmod</a></td>
	  <td><a href="es/ncmod.html">ncmod</a></td>
	  <td><a href="es/neg.html">neg</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Compounding and unanalyzed</b></td></tr>
	<tr>
	  <td><a href="es/compound.html">compound</a></td>
	  <td><a href="es/mwe.html">mwe</a></td>
	  <td><a href="es/goeswith.html">goeswith</a></td>
	</tr>
	<tr>
	  <td><a href="es/name.html">name</a></td>
	  <td><a href="es/foreign.html">foreign</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Coordination</b></td></tr>
	<tr>
	  <td><a href="es/conj.html">conj</a></td>
	  <td><a href="es/cc.html">cc</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Case-marking, prepositions, possessive</b></td></tr>
	<tr>
	  <td><a href="es/case.html">case</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Loose joining relations</b></td></tr>
	<tr>
	  <td><a href="es/list.html">list</a></td>
	  <td><a href="es/parataxis.html">parataxis</a></td>
	  <td><a href="es/remnant.html">remnant</a></td>
	</tr>
	<tr>
	  <td><a href="es/dislocated.html">dislocated</a></td>
	  <td></td><td><a href="es/reparandum.html">reparandum</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Other</b></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a href="es/root.html">root</a></td>
	  <td><a href="es/dep.html">dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>

Note: <i>nmod</i>, <i>ncmod</i>, <i>nfincl</i>, and <i>neg</i> appear
in two places.
