<table class="typeindex">
  <tr>
    <td>
      <table class="category">
        <tr><td><b>Lexical features</b></td></tr>
        <tr>
          <td><a href="ud-feat/PronType.html">PronType</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/NumType.html">NumType</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Poss.html">Poss</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Reflex.html">Reflex</a></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td colspan="3"><b>Inflectional features</b></td></tr>
        <tr>
          <td><i>Nominal</i></td>
          <td><i>Verbal</i></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Gender.html">Gender</a></td>
          <td><a href="ud-feat/VerbForm.html">VerbForm</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Animacy.html">Animacy</a></td>
          <td><a href="ud-feat/Mood.html">Mood</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Number.html">Number</a></td>
          <td><a href="ud-feat/Tense.html">Tense</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Case.html">Case</a></td>
          <td><a href="ud-feat/Aspect.html">Aspect</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Definite.html">Definite</a></td>
          <td><a href="ud-feat/Voice.html">Voice</a></td>
        </tr>
        <tr>
          <td><a href="ud-feat/Degree.html">Degree</a></td>
          <td><a href="ud-feat/Person.html">Person</a></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="ud-feat/Negative.html">Negative</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
