Note: <i>nmod</i>, <i>neg</i>
and <i>punct</i> appear in two places.

<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a href="nsubj.html" class="doclabel">nsubj</a></td>
	  <td><a href="csubj.html" class="doclabel">csubj</a></td>
	</tr>
	<tr>
	  <td><a href="nsubj-cop.html" class="doclabel">↳nsubj:cop</a></td>
	  <td><a href="csubj-cop.html" class="doclabel">↳csubj:cop</a></td>
	</tr>
	<tr>
	  <td><strike>nsubjpass</strike></td>
	  <td><strike>csubjpass</strike></td>
	</tr>
	<tr>
	  <td><a href="dobj.html" class="doclabel">dobj</a></td>
	  <td><a href="ccomp.html" class="doclabel">ccomp</a></td>
	  <td><a href="xcomp.html" class="doclabel">xcomp</a></td>
	</tr>
	<tr>
	  <td/>
	  <td><a href="ccomp-nf.html" class="doclabel">↳ccomp:nf</a></td>
	  <td><a href="xcomp-a.html" class="doclabel">↳xcomp:a</a></td>
	</tr>
	<tr>
	  <td><strike>iobj</strike></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Non-core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a href="nmod.html" class="doclabel">nmod</a></td>
	  <td><a href="advcl.html" class="doclabel">advcl</a></td>
	  <td><a href="advmod.html" class="doclabel">advmod</a></td>
	</tr>
	<tr>
	  <td><a href="nmod-own.html" class="doclabel">↳nmod:own</a></td>
	  <td></td>
	  <td><a href="advmod-quantmod.html" class="doclabel">↳advmod:quantmod</a></td>
	</tr>
	<tr>
	  <td><a href="nmod-poss.html" class="doclabel">↳nmod:poss</a></td>
	  <td></td>
	  <td><a href="neg.html" class="doclabel">neg</a></td>
	</tr>
	<tr>
	  <td><a href="nmod-gsubj.html" class="doclabel">↳nmod:gsubj</a></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td><a href="nmod-gobj.html" class="doclabel">↳nmod:gobj</a></td>
	  <td></td>
	  <td></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Special clausal dependents</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td><a href="vocative.html" class="doclabel">vocative</a></td>
	  <td><a href="aux.html" class="doclabel">aux</a></td>
	  <td><a href="mark.html" class="doclabel">mark</a></td>
	</tr>
	<tr>
	  <td><a href="discourse.html" class="doclabel">discourse</a></td>
	  <td><a href="auxpass.html" class="doclabel">auxpass</a></td>
	  <td><a href="punct.html" class="doclabel">punct</a></td>
	</tr>
	<tr>
	  <td><a href="expl.html" class="doclabel">expl</a></td>
	  <td><a href="cop.html" class="doclabel">cop</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Noun dependents</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a href="nummod.html" class="doclabel">nummod</a></td>
	  <td><a href="acl.html" class="doclabel">acl</a></td>
	  <td><a href="amod.html" class="doclabel">amod</a></td>
	</tr>
	<tr>
	  <td><a href="appos.html" class="doclabel">appos</a></td>
	  <td><a href="acl-relcl.html" class="doclabel">↳acl:relcl</a></td>
	  <td><a href="det.html" class="doclabel">det</a></td>
	</tr>
	<tr>
	  <td><a href="nmod.html" class="doclabel">nmod</a></td>
	  <td><a href="acl-infmod.html" class="doclabel">↳acl:infmod</a></td>
	  <td><a href="neg.html" class="doclabel">neg</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Compounding and unanalyzed</strong></td></tr>
	<tr>
	  <td><a href="compound.html" class="doclabel">compound</a></td>
	  <td><a href="mwe.html" class="doclabel">mwe</a></td>
	  <td><a href="goeswith.html" class="doclabel">goeswith</a></td>
	</tr>
	<tr>
	  <td><a href="compound-prt.html" class="doclabel">↳compound:prt</a></td>
	  <td><a href="foreign.html" class="doclabel">foreign</a></td>
	</tr>
	<tr>
	  <td><a href="compound-nn.html" class="doclabel">↳compound:nn</a></td>
	</tr>
	<tr>
	  <td><a href="name.html" class="doclabel">name</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Coordination</strong></td></tr>
	<tr>
	  <td><a href="conj.html" class="doclabel">conj</a></td>
	  <td><a href="cc.html" class="doclabel">cc</a></td>
	  <td><a href="punct.html" class="doclabel">punct</a></td>
	</tr>
	<tr>
	  <td></td>
	  <td><a href="cc-preconj.html" class="doclabel">cc:preconj</a></td>
	  <td></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Case-marking, prepositions, possessive</strong></td></tr>
	<tr>
	  <td><a href="case.html" class="doclabel">case</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Loose joining relations</strong></td></tr>
	<tr>
	  <td><a href="list.html" class="doclabel">list</a></td>
	  <td><a href="parataxis.html" class="doclabel">parataxis</a></td>
	  <td><a href="remnant.html" class="doclabel">remnant</a></td>
	</tr>
	<tr>
	  <td><a href="dislocated.html" class="doclabel">dislocated</a></td>
	  <td></td><td><a href="reparandum.html" class="doclabel">reparandum</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Other</strong></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a href="root.html" class="doclabel">root</a></td>
	  <td><a href="dep.html" class="doclabel">dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>
