Note: <i>nmod</i>, <i>neg</i>
and <i>punct</i> appear in two places.

<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a class="doclabel">nsubj</a></td>
	  <td><a class="doclabel">csubj</a></td>
	</tr>
	<tr>
	  <td>↳<a class="doclabel">nsubj:cop</a></td>
	  <td>↳<a class="doclabel">csubj:cop</a></td>
	</tr>
	<tr>
	  <td><strike>nsubjpass</strike></td>
	  <td><strike>csubjpass</strike></td>
	</tr>
	<tr>
	  <td><a class="doclabel">dobj</a></td>
	  <td><a class="doclabel">ccomp</a></td>
	  <td><a class="doclabel">xcomp</a></td>
	</tr>
	<tr>
	  <td/>
	  <td>↳<a class="doclabel">ccomp:nf</a></td>
	  <td>↳<a class="doclabel">xcomp:a</a></td>
	</tr>
	<tr>
	  <td><strike>iobj</strike></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Non-core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a class="doclabel">nmod</a></td>
	  <td><a class="doclabel">advcl</a></td>
	  <td><a class="doclabel">advmod</a></td>
	</tr>
	<tr>
	  <td>↳<a class="doclabel">nmod:own</a></td>
	  <td></td>
	  <td>↳<a class="doclabel">advmod:q</a></td>
	</tr>
	<tr>
	  <td>↳<a class="doclabel">nmod:poss</a></td>
	  <td></td>
	  <td><a class="doclabel">neg</a></td>
	</tr>
	<tr>
	  <td>↳<a class="doclabel">nmod:gsubj</a></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
	  <td>↳<a class="doclabel">nmod:gobj</a></td>
	  <td></td>
	  <td></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Special clausal dependents</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td><a class="doclabel">vocative</a></td>
	  <td><a class="doclabel">aux</a></td>
	  <td><a class="doclabel">mark</a></td>
	</tr>
	<tr>
	  <td><a class="doclabel">discourse</a></td>
	  <td><a class="doclabel">auxpass</a></td>
	  <td><a class="doclabel">punct</a></td>
	</tr>
	<tr>
	  <td><a class="doclabel">expl</a></td>
	  <td><a class="doclabel">cop</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Noun dependents</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a class="doclabel">nummod</a></td>
	  <td><a class="doclabel">acl</a></td>
	  <td><a class="doclabel">amod</a></td>
	</tr>
	<tr>
	  <td><a class="doclabel">appos</a></td>
	  <td>↳<a class="doclabel">acl:relcl</a></td>
	  <td><a class="doclabel">det</a></td>
	</tr>
	<tr>
	  <td><a class="doclabel">nmod</a></td>
	  <td>↳<a class="doclabel">acl:infmod</a></td>
	  <td><a class="doclabel">neg</a></td>
	</tr>
	<tr>
	  <td/>
	  <td>↳<a class="doclabel">acl:partmod</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Compounding and unanalyzed</strong></td></tr>
	<tr>
	  <td><a class="doclabel">compound</a></td>
	  <td><a class="doclabel">mwe</a></td>
	  <td><a class="doclabel">goeswith</a></td>
	</tr>
	<tr>
	  <td>↳<a class="doclabel">compound:prt</a></td>
	  <td><a class="doclabel">foreign</a></td>
	</tr>
	<tr>
	  <td>↳<a class="doclabel">compound:nn</a></td>
	</tr>
	<tr>
	  <td><a class="doclabel">name</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Coordination</strong></td></tr>
	<tr>
	  <td><a class="doclabel">conj</a></td>
	  <td><a class="doclabel">cc</a></td>
	  <td><a class="doclabel">punct</a></td>
	</tr>
	<tr>
	  <td></td>
	  <td>↳<a class="doclabel">cc:preconj</a></td>
	  <td></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Case-marking, prepositions, possessive</strong></td></tr>
	<tr>
	  <td><a class="doclabel">case</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Loose joining relations</strong></td></tr>
	<tr>
	  <td><a class="doclabel">list</a></td>
	  <td><a class="doclabel">parataxis</a></td>
	  <td><a class="doclabel">remnant</a></td>
	</tr>
	<tr>
	  <td><a class="doclabel">dislocated</a></td>
	  <td></td><td><a class="doclabel">reparandum</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Other</strong></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a class="doclabel">root</a></td>
	  <td><a class="doclabel">dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>
