<table class="typeindex">
  <tr>
    <td>
      <table class="category">
        <tr><td><strong>Lexical features</strong></td></tr>
        <tr>
          <td><a>PronType</a></td>
        </tr>
        <tr>
          <td><a>NumType</a></td>
        </tr>
        <tr>
          <td><strike><a>Poss</a></strike></td>
        </tr>
        <tr>
          <td><a>Reflex</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Abbr</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Derivation</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Style</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Typo</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Foreign</a></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td colspan="3"><strong>Inflectional features</strong></td></tr>
        <tr>
          <td><i>Nominal</i></td>
          <td><i>Verbal</i></td>
        </tr>
        <tr>
          <td><strike>Gender</strike></td>
          <td><a>VerbForm</a></td>
        </tr>
        <tr>
          <td><strike>Animacy</strike></td>
          <td><strong>+</strong><a>InfForm</a></td>
        </tr>
        <tr>
          <td><a>Number</a></td>
          <td><strong>+</strong><a>PartForm</a></td>
        </tr>
        <tr>
          <td><a>Case</a></td>
          <td><a>Mood</a></td>
        </tr>
        <tr>
          <td><strike>Definite</strike></td>
          <td><a>Tense</a></td>
        </tr>
        <tr>
          <td><a>Degree</a></td>
          <td><strike>Aspect</strike></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Number[psor]</a></td>
          <td><a>Voice</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Person[psor]</a></td>
          <td><a>Person</a></td>
        </tr>
        <tr>
          <td/>
          <td><a>Polarity</a></td>
        </tr>
        <tr>
          <td/>
          <td><strong>+</strong><a>Connegative</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
