<table class="typeindex">
  <thead>
    <tr>
      <th>Open class words</th>
      <th>Closed class words</th>
      <th>Other</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a>ADJ</a></td>
      <td><a>ADP</a></td>
      <td><a>PUNCT</a></td>
    </tr>
    <tr>
      <td><a>ADV</a></td>
      <td><a>AUX</a></td>
      <td><a>SYM</a></td>
    </tr>
    <tr>
      <td><a>INTJ</a></td>
      <td><a>CCONJ</a></td>
      <td><a>X</a></td>
    </tr>
    <tr>
      <td><a>NOUN</a></td>
      <td><a>DET</a></td>
      <td> </td>
    </tr>
    <tr>
      <td><a>PROPN</a></td>
      <td><a>NUM</a></td>
      <td> </td>
    </tr>
    <tr>
      <td><a>VERB</a></td>
      <td><strike><a>PART</a></strike></td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td><a>PRON</a></td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td><a>SCONJ</a></td>
      <td> </td>
    </tr>
  </tbody>
</table>
