<table class="typeindex">
  <thead>
    <tr>
      <th>Open class words</th>
      <th>Closed class words</th>
      <th>Other</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a class="doclabel">ADJ</a></td>
      <td><a class="doclabel">ADP</a></td>
      <td><a class="doclabel">PUNCT</a></td>
    </tr>
    <tr>
      <td><a class="doclabel">ADV</a></td>
      <td><a class="doclabel">AUX</a></td>
      <td><a class="doclabel">SYM</a></td>
    </tr>
    <tr>
      <td><a class="doclabel">INTJ</a></td>
      <td><a class="doclabel">CONJ</a></td>
      <td><a class="doclabel">X</a></td>
    </tr>
    <tr>
      <td><a class="doclabel">NOUN</a></td>
      <td><a class="doclabel">DET</a></td>
      <td> </td>
    </tr>
    <tr>
      <td><a class="doclabel">PROPN</a></td>
      <td><a class="doclabel">NUM</a></td>
      <td> </td>
    </tr>
    <tr>
      <td><a class="doclabel">VERB</a></td>
      <td><strike><a class="doclabel">PART</a></strike></td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td><a class="doclabel">PRON</a></td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td><a class="doclabel">SCONJ</a></td>
      <td> </td>
    </tr>
  </tbody>
</table>
