<table class="typeindex">
  <thead>
    <tr>
      <th>Open class words</th>
      <th>Closed class words</th>
      <th>Other</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="ADJ.html" class="doclabel">ADJ</a></td>
      <td><a href="ADP.html" class="doclabel">ADP</a></td>
      <td><a href="PUNCT.html" class="doclabel">PUNCT</a></td>
    </tr>
    <tr>
      <td><a href="ADV.html" class="doclabel">ADV</a></td>
      <td><a href="AUX.html" class="doclabel">AUX</a></td>
      <td><a href="SYM.html" class="doclabel">SYM</a></td>
    </tr>
    <tr>
      <td><a href="INTJ.html" class="doclabel">INTJ</a></td>
      <td><a href="CONJ.html" class="doclabel">CONJ</a></td>
      <td><a href="X.html" class="doclabel">X</a></td>
    </tr>
    <tr>
      <td><a href="NOUN.html" class="doclabel">NOUN</a></td>
      <td><a href="DET.html" class="doclabel">DET</a></td>
      <td> </td>
    </tr>
    <tr>
      <td><a href="PROPN.html" class="doclabel">PROPN</a></td>
      <td><a href="NUM.html" class="doclabel">NUM</a></td>
      <td> </td>
    </tr>
    <tr>
      <td><a href="VERB.html" class="doclabel">VERB</a></td>
      <td><strike><a href="PART.html" class="doclabel">PART</a></strike></td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td><a href="PRON.html" class="doclabel">PRON</a></td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td><a href="SCONJ.html" class="doclabel">SCONJ</a></td>
      <td> </td>
    </tr>
  </tbody>
</table>
