<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/nsubj.html">nsubj</a></td>
	  <td><a href="fi-dep/csubj.html">csubj</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/nsubj-cop.html">↳nsubj-cop</a></td>
	  <td><a href="fi-dep/csubj-cop.html">↳csubj-cop</a></td>
	</tr>
	<tr>
	  <td><strike>nsubjpass</strike></td>
	  <td><strike>csubjpass</strike></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/dobj.html">dobj</a></td>
	  <td><a href="fi-dep/ccomp.html">ccomp</a></td>
	  <td><a href="fi-dep/xcomp.html">xcomp</a></td>
	</tr>
	<tr>
	  <td/>
	  <td><a href="fi-dep/iccomp.html">↳iccomp</a></td>
	  <td/>
	</tr>
	<tr>
	  <td><strike>iobj</strike></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Non-core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td><a href="fi-dep/advcl.html">advcl</a></td>
	  <td><a href="fi-dep/advmod.html">advmod</a></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td><a href="fi-dep/nfincl.html">nfincl</a></td>
	  <td><a href="fi-dep/neg.html">neg</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/nmod.html">nmod</a></td>
	  <td><a href="fi-dep/ncmod.html">ncmod</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/nmod-own.html">↳nmod-own</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Special clausal dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/vocative.html">vocative</a></td>
	  <td><a href="fi-dep/aux.html">aux</a></td>
	  <td><a href="fi-dep/mark.html">mark</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/discourse.html">discourse</a></td>
	  <td><a href="fi-dep/auxpass.html">auxpass</a></td>
	  <td><a href="fi-dep/punct.html">punct</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/expl.html">expl</a></td>
	  <td><a href="fi-dep/cop.html">cop</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Noun dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/nummod.html">nummod</a></td>
	  <td><a href="fi-dep/relcl.html">relcl</a></td>
	  <td><a href="fi-dep/amod.html">amod</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/appos.html">appos</a></td>
	  <td><a href="fi-dep/nfincl.html">nfincl</a></td>
	  <td><a href="fi-dep/det.html">det</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/nmod.html">nmod</a></td>
	  <td><a href="fi-dep/ncmod.html">ncmod</a></td>
	  <td><a href="fi-dep/neg.html">neg</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Compounding and unanalyzed</b></td></tr>
	<tr>
	  <td><a href="fi-dep/compound.html">compound</a></td>
	  <td><a href="fi-dep/mwe.html">mwe</a></td>
	  <td><a href="fi-dep/goeswith.html">goeswith</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/name.html">name</a></td>
	  <td><a href="fi-dep/foreign.html">foreign</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Coordination</b></td></tr>
	<tr>
	  <td><a href="fi-dep/conj.html">conj</a></td>
	  <td><a href="fi-dep/cc.html">cc</a></td>
	  <td><a href="fi-dep/punct.html">punct</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Case-marking, prepositions, possessive</b></td></tr>
	<tr>
	  <td><a href="fi-dep/case.html">case</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/poss.html">↳poss</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/gsubj.html">↳gsubj</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/gobj.html">↳gobj</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Loose joining relations</b></td></tr>
	<tr>
	  <td><a href="fi-dep/list.html">list</a></td>
	  <td><a href="fi-dep/parataxis.html">parataxis</a></td>
	  <td><a href="fi-dep/remnant.html">remnant</a></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/dislocated.html">dislocated</a></td>
	  <td></td><td><a href="fi-dep/reparandum.html">reparandum</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Other</b></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a href="fi-dep/root.html">root</a></td>
	  <td><a href="fi-dep/dep.html">dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>

Note: <i>nmod</i>, <i>ncmod</i>, <i>nfincl</i>, and <i>neg</i> appear
in two places.
