<table class="typeindex" border="1">
  <tr style="background-color:cornflowerblue">
    <td>
      <table class="category">
        <tr><td><strong></strong></td></tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td><strong>Nominals</strong></td></tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td><strong>Clauses</strong></td></tr>
      </table>
    </td>
      <td>
        <table class="category">
          <tr><td><strong>Modifier words</strong></td></tr>
        </table>
      </td>
    <td>
    <table class="category">
      <tr><td><strong>Function Words</strong></td></tr>
    </table>
        </td>
    </tr>
    <tr>
    <td style="background-color:darkseagreen">
      <table class="category">
        <tr><td><strong>Core arguments</strong></td></tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td><a>nsubj</a></td></tr>
        <tr><td>↳<a>nsubj:caus</a></td></tr>
        <tr><td>↳<a>nsubj:pass</a></td></tr>
        <tr><td><a>obj</a></td></tr>
        <tr><td>↳<a>obj:agent</a></td></tr>
        <tr><td>↳<a>obj:lvc</a></td></tr>
        <tr><td><a>iobj</a></td></tr>
        <tr><td>↳<a>iobj:agent</a></td></tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td><a>csubj</a></td></tr>
        <tr><td>↳<a>csubj:pass</a></td></tr>
        <tr><td><a>ccomp</a></td></tr>
        <tr><td><a>xcomp</a></td></tr>
      </table>
    </td>
    <td></td>
    <td></td></tr>
    <tr>
      <td style="background-color:darkseagreen">
        <table class="category">
          <tr><td><strong>Non-core dependents</strong></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>obl</a></td></tr>
          <tr><td>↳<a>obl:agent</a></td></tr>
          <tr><td>↳<a>obl:arg</a></td></tr>
          <tr><td>↳<a>obl:mod</a></td></tr>
          <tr><td><a>vocative</a></td></tr>
          <tr><td><a>expl</a></td></tr>
          <tr><td>↳<a>expl:comp</a></td></tr>
          <tr><td>↳<a>expl:pass</a></td></tr>
          <tr><td>↳<a>expl:subj</a></td></tr>
          <tr><td><a>dislocated</a></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>advcl</a></td></tr>
          <tr><td>↳<a>advcl:cleft</a></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>advmod</a></td></tr>
          <tr><td><a>discourse</a></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>aux</a></td></tr>
          <tr><td>↳<a>aux:caus</a></td></tr>
          <tr><td>↳<a>aux:pass</a></td></tr>
          <tr><td>↳<a>aux:tense</a></td></tr>
          <tr><td><a>cop</a></td></tr>
          <tr><td><a>mark</a></td></tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="background-color:darkseagreen">
        <table class="category">
          <tr><td><strong>Nominal dependents</strong></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>nmod</a></td></tr>
          <tr><td>↳<a>nmod:appos</a> [Spo]</td></tr>
          <tr><td><a>appos</a></td></tr>
          <tr><td><a>nummod</a></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>acl</a></td></tr>
          <tr><td>↳<a>acl:relcl</a></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>amod</a></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>det</a></td></tr>
          <tr><td><a>case</a></td></tr>
        </table>
      </td>
    </tr>
    <tr style="background-color:cornflowerblue">
      <td>
        <table class="category">
          <tr><td><strong>Coordination</strong></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><strong>MWE</strong></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><strong>Loose</strong></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><strong>Special</strong></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><strong>Other</strong></td></tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table class="category">
          <tr><td><a>conj</a></td></tr>
          <tr><td><a>cc</a></td></tr>
        </table>
      </td>
      <td>
        <table class="category">
          <tr><td><a>fixed</a></td></tr>
          <tr><td><a>flat</a></td></tr>
          <tr><td>↳<a>flat:foreign</a></td></tr>
          <tr><td>↳<a>flat:name</a></td></tr>
          <tr><td><a>compound</a></td></tr>
        </table>
    </td>
    <td>
      <table class="category">
        <tr><td><a>parataxis</a></td></tr>
        <tr><td>↳<a>parataxis:insert</a> [Spo]</td></tr>
        <tr><td>↳<a>parataxis:parenth</a> [Spo]</td></tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td><a>orphan</a></td></tr>
        <tr><td><a>goeswith</a></td></tr>
        <tr><td><a>reparandum</a></td></tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td><a>punct</a></td></tr>
        <tr><td><a>root</a></td></tr>
        <tr><td><a>dep</a></td></tr>
      </table>
    </td>
  </tr>
</table>
