<table class="typeindex" border="1">
  <tr style="background-color:cornflowerblue">
      <td>	
	<table class="category">
	  <tr><td><strong></strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>Nominals</strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>Clauses</strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>Modifier words</strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>Function Words</strong></td></tr>
	</table>
      </td>
  </tr>
  <tr>
      <td style="background-color:darkseagreen">
	<table class="category">
	  <tr><td><strong>Core arguments</strong></td></tr>
	</table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>nsubj</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>nsubj:caus</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>nsubj:pass</a></td>
	  </tr>
	  <tr>
	    <td><a>obj</a></td>
	  </tr>
	  <tr>
	    <td><a>iobj</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>iobj:agent</a></td>
	  </tr>
        </table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>csubj</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>csubj:pass</a></td>
	  </tr>
	  <tr>
	    <td><a>ccomp</a></td>
	  </tr>
	  <tr>
	    <td><a>xcomp</a></td>
	  </tr>
        </table>
      </td>
	    <td></td><td></td>
  </tr>
  <tr>
      <td style="background-color:darkseagreen">
	<table class="category">
	  <tr><td><strong>Non-core dependents</strong></td></tr>
	</table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>obl</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>obl:agent</a></td>
	  </tr>
	  <tr>
	    <td><a>vocative</a></td>
	  </tr>
	  <tr>
	    <td><strike>expl</strike></td>
	  </tr>
	  <tr>
	    <td><a>dislocated</a></td>
	  </tr>
        </table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>advcl</a></td>
	  </tr>
        </table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>advmod</a>*</td>
	  </tr>
	  <tr>
	    <td>↳<a>advmod:emph</a></td>
	  </tr>
	  <tr>
	    <td><a>discourse</a></td>
	  </tr>
        </table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>aux</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>aux:caus</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>aux:ex</a></td>
	  </tr>
	  <tr>
	    <td><a>cop</a></td>
	  </tr>
	  <tr>
	    <td><a>mark</a></td>
	  </tr>
        </table>
      </td>
  </tr>
  <tr>
      <td style="background-color:darkseagreen">
	<table class="category">
	  <tr><td><strong>Nominal dependents</strong></td></tr>
	</table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>nmod</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>nmod:npmod</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>nmod:poss</a></td>
	  </tr>
	  <tr>
	    <td><a>appos</a></td>
	  </tr>
	  <tr>
	    <td><a>nummod</a></td>
	  </tr>
        </table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>acl</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>acl:relcl</a></td>
	  </tr>
        </table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>amod</a></td>
	  </tr>
        </table>
      </td>
      <td>
	<table class="category">
	  <tr>
	    <td><a>det</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>det:poss</a></td>
	  </tr>
	  <tr>
	    <td><strike>clf</strike></td>
	  </tr>
	  <tr>
	    <td><a>case</a></td>
	  </tr>
	  <tr>
	    <td>↳<a>case:loc</a></td>
	  </tr>
        </table>
      </td>
  </tr>
  <tr style="background-color:cornflowerblue">	
      <td>	
	<table class="category">
	  <tr><td><strong>Coordination</strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>MWE</strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>Loose</strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>Special</strong></td></tr>
	</table>
      </td>
      <td>	
	<table class="category">
	  <tr><td><strong>Other</strong></td></tr>
	</table>
      </td>
  </tr>
  <tr>
      <td>
        <table class="category">
	  <tr>
	    <td><a>conj</a></td>
	  </tr>
	  <tr>
	    <td><a>cc</a></td>
	  </tr>
        </table>
      </td>
      <td>
        <table class="category">
	<tr>
	  <td><a>fixed</a></td>
	</tr>
	<tr>
	  <td><a>flat</a></td>
	</tr>
	<tr>
	  <td><a>compound</a></td>
	</tr>
	<tr>
	    <td>↳<a>compound:lvc</a></td>
	</tr>
	<tr>
	    <td>↳<a>compound:redup</a></td>
	</tr>
	<tr>
	    <td>↳<a>compound:svc</a></td>
	</tr>
      </table>
    </td>
    <td>
      <table class="category">
	<tr>
	  <td><a>list</a></td>
	</tr>
	<tr>
	  <td><a>parataxis</a></td>
	</tr>
      </table>
    </td>
    <td>
      <table class="category">
	<tr>
	  <td><a>orphan</a></td>
	</tr>
	<tr>
	  <td><a>goeswith</a></td>
	</tr>
	<tr>
	  <td><a>reparandum</a></td>
	</tr>
      </table>
    </td>
    <td>
      <table class="category">
	<tr>
	  <td><a>punct</a></td>
	</tr>
	<tr>
	  <td><a>root</a></td>
	</tr>
	<tr>
	  <td><a>dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>

\* The `advmod` relation is used for modifiers not only of predicates but also of other modifier words.
