<h2>Afro-Asiatic</h2>
<h3>Cushitic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SD.png"><a href="/bej/index.html">Beja</a></li>
</ul>
<h3>Egyptian</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/COP.png"><a href="/cop/index.html">Coptic</a></li>
</ul>
<h3>Semitic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IQ.png"><a href="/akk/index.html">Akkadian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ET.png"><a href="/am/index.html">Amharic</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IL.png"><a href="/hbo/index.html">Ancient Hebrew</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SA-AL.png"><a href="/ar/index.html">Arabic</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IQ-AII.png"><a href="/aii/index.html">Assyrian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IL.png"><a href="/he/index.html">Hebrew</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/MT.png"><a href="/mt/index.html">Maltese</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/JO.png"><a href="/ajp/index.html">South Levantine Arabic</a></li>
</ul>
<h3>West Chadic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/NG.png"><a href="/say/index.html">Zaar</a></li>
</ul>
<h2>Arawakan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/apu/index.html">Apurina</a></li>
</ul>
<h2>Arawan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/jaa/index.html">Madi</a></li>
</ul>
<h2>Austro-Asiatic</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/VN.png"><a href="/vi/index.html">Vietnamese</a></li>
</ul>
<h2>Austronesian</h2>
<h3>Central Philippine</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PH.png"><a href="/ceb/index.html">Cebuano</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PH.png"><a href="/tl/index.html">Tagalog</a></li>
</ul>
<h3>Javanese</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ID.png"><a href="/jv/index.html">Javanese</a></li>
</ul>
<h3>Malayo-Sumbawan</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ID.png"><a href="/id/index.html">Indonesian</a></li>
</ul>
<h2>Basque</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ES-PV.png"><a href="/eu/index.html">Basque</a></li>
</ul>
<h2>Bororoan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/bor/index.html">Bororo</a></li>
</ul>
<h2>Chukotko-Kamchatkan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-CHU.png"><a href="/ckt/index.html">Chukchi</a></li>
</ul>
<h2>Code switching</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/NL-FR.png"><a href="/qfn/index.html">Frisian Dutch</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/DZ.png"><a href="/qaf/index.html">Maghrebi Arabic French</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/TR.png"><a href="/qtd/index.html">Turkish German</a></li>
</ul>
<h2>Creole</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/HT.png"><a href="/ht/index.html">Haitian Creole</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/NG.png"><a href="/pcm/index.html">Naija</a></li>
</ul>
<h2>Dravidian</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/ml/index.html">Malayalam</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/ta/index.html">Tamil</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/te/index.html">Telugu</a></li>
</ul>
<h2>Eskimo-Aleut</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/US-AK.png"><a href="/ess/index.html">Yupik</a></li>
</ul>
<h2>Indo-European</h2>
<h3>Albanian</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/AL.png"><a href="/sq/index.html">Albanian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/AL.png"><a href="/aln/index.html">Gheg</a></li>
</ul>
<h3>Anatolian</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/TR.png"><a href="/hit/index.html">Hittite</a></li>
</ul>
<h3>Armenian</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/AM.png"><a href="/hy/index.html">Armenian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/AM-ARSACID.png"><a href="/xcl/index.html">Classical Armenian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/AM.png"><a href="/hyw/index.html">Western Armenian</a></li>
</ul>
<h3>Baltic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/LV.png"><a href="/lv/index.html">Latvian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/LT.png"><a href="/lt/index.html">Lithuanian</a></li>
</ul>
<h3>Celtic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/FR-BRE.png"><a href="/br/index.html">Breton</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IE.png"><a href="/ga/index.html">Irish</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IM.png"><a href="/gv/index.html">Manx</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IE-FOUR.png"><a href="/sga/index.html">Old Irish</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/GB-SCT.png"><a href="/gd/index.html">Scottish Gaelic</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/GB-WLS.png"><a href="/cy/index.html">Welsh</a></li>
</ul>
<h3>Germanic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ZA.png"><a href="/af/index.html">Afrikaans</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/DK.png"><a href="/da/index.html">Danish</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/NL.png"><a href="/nl/index.html">Dutch</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/GB.png"><a href="/en/index.html">English</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/FO.png"><a href="/fo/index.html">Faroese</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/DE.png"><a href="/de/index.html">German</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BYZ.png"><a href="/got/index.html">Gothic</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IS.png"><a href="/is/index.html">Icelandic</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/DE-HANNOVER.png"><a href="/nds/index.html">Low Saxon</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/NO.png"><a href="/no/index.html">Norwegian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SE.png"><a href="/sv/index.html">Swedish</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/CH.png"><a href="/gsw/index.html">Swiss German</a></li>
</ul>
<h3>Greek</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/GR.png"><a href="/grc/index.html">Ancient Greek</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/GR.png"><a href="/el/index.html">Greek</a></li>
</ul>
<h3>Indic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BD.png"><a href="/bn/index.html">Bengali</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/bho/index.html">Bhojpuri</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/hi/index.html">Hindi</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/xnr/index.html">Kangri</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/mr/index.html">Marathi</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/or/index.html">Odia</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/pra/index.html">Prakrit</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/pa/index.html">Punjabi</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IN.png"><a href="/sa/index.html">Sanskrit</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/LK.png"><a href="/si/index.html">Sinhala</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PK.png"><a href="/ur/index.html">Urdu</a></li>
</ul>
<h3>Iranian</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PK.png"><a href="/bal/index.html">Balochi</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IR.png"><a href="/kfm/index.html">Khunsari</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IQ-KRD.png"><a href="/kmr/index.html">Kurmanji</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IR.png"><a href="/nyq/index.html">Nayini</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IR.png"><a href="/fa/index.html">Persian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IR.png"><a href="/soj/index.html">Soi</a></li>
</ul>
<h3>Italic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/VA.png"><a href="/la/index.html">Latin</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IT-UMB.png"><a href="/xum/index.html">Umbrian</a></li>
</ul>
<h3>Romance</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ES-CT.png"><a href="/ca/index.html">Catalan</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/FR.png"><a href="/fr/index.html">French</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ES-GA.png"><a href="/gl/index.html">Galician</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IT.png"><a href="/it/index.html">Italian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IT-LIG.png"><a href="/lij/index.html">Ligurian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/FR-ROYAL.png"><a href="/frm/index.html">Middle French</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/IT-CAM.png"><a href="/nap/index.html">Neapolitan</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/FR-ROYAL.png"><a href="/fro/index.html">Old French</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PT.png"><a href="/pt/index.html">Portuguese</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RO.png"><a href="/ro/index.html">Romanian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ES.png"><a href="/es/index.html">Spanish</a></li>
</ul>
<h3>Slavic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BY.png"><a href="/be/index.html">Belarusian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BG.png"><a href="/bg/index.html">Bulgarian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/HR.png"><a href="/hr/index.html">Croatian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/CZ.png"><a href="/cs/index.html">Czech</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/MK.png"><a href="/mk/index.html">Macedonian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/MORAVA.png"><a href="/cu/index.html">Old Church Slavonic</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-IVAN.png"><a href="/orv/index.html">Old East Slavic</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PL.png"><a href="/pl/index.html">Polish</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/TAMRASH.png"><a href="/qpm/index.html">Pomak</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU.png"><a href="/ru/index.html">Russian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RS.png"><a href="/sr/index.html">Serbian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SK.png"><a href="/sk/index.html">Slovak</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SI.png"><a href="/sl/index.html">Slovenian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/UA.png"><a href="/uk/index.html">Ukrainian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/HSB.png"><a href="/hsb/index.html">Upper Sorbian</a></li>
</ul>
<h2>Japanese</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/JP.png"><a href="/ja/index.html">Japanese</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/JP.png"><a href="/ojp/index.html">Old Japanese</a></li>
</ul>
<h2>Kartvelian</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/GE.png"><a href="/ka/index.html">Georgian</a></li>
</ul>
<h2>Korean</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/KR.png"><a href="/ko/index.html">Korean</a></li>
</ul>
<h2>Macro-Je</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/xav/index.html">Xavante</a></li>
</ul>
<h2>Mande</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/ML.png"><a href="/bm/index.html">Bambara</a></li>
</ul>
<h2>Mayan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/GT-QC.png"><a href="/quc/index.html">Kiche</a></li>
</ul>
<h2>Mongolic</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-BU.png"><a href="/bxr/index.html">Buryat</a></li>
</ul>
<h2>Niger-Congo</h2>
<h3>Defoid</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/NG.png"><a href="/yo/index.html">Yoruba</a></li>
</ul>
<h3>Northern Atlantic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SN.png"><a href="/wo/index.html">Wolof</a></li>
</ul>
<h2>Northwest Caucasian</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-ABAZA.png"><a href="/abq/index.html">Abaza</a></li>
</ul>
<h2>Pama-Nyungan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/AU-ABORIGINAL.png"><a href="/wbp/index.html">Warlpiri</a></li>
</ul>
<h2>Sign Language</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SE.png"><a href="/swl/index.html">Swedish Sign Language</a></li>
</ul>
<h2>Sino-Tibetan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/HK.png"><a href="/yue/index.html">Cantonese</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/CN.png"><a href="/zh/index.html">Chinese</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/CN-QING.png"><a href="/lzh/index.html">Classical Chinese</a></li>
</ul>
<h2>Tai-Kadai</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/TH.png"><a href="/th/index.html">Thai</a></li>
</ul>
<h2>Tungusic</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/CN.png"><a href="/sjo/index.html">Xibe</a></li>
</ul>
<h2>Tupian</h2>
<h3>Maweti-Guarani</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/gub/index.html">Guajajara</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PY.png"><a href="/gn/index.html">Guarani</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/urb/index.html">Kaapor</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/PY.png"><a href="/gun/index.html">Mbya Guarani</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/yrl/index.html">Nheengatu</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/FR.png"><a href="/eme/index.html">Teko</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/tpn/index.html">Tupinamba</a></li>
</ul>
<h3>Munduruku</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/myu/index.html">Munduruku</a></li>
</ul>
<h3>Ramarama</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/arr/index.html">Karo</a></li>
</ul>
<h3>Tupari</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/aqz/index.html">Akuntsu</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/BR.png"><a href="/mpu/index.html">Makurap</a></li>
</ul>
<h2>Turkic</h2>
<h3>Northeastern</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/TURKIC.png"><a href="/otk/index.html">Old Turkish</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-SA.png"><a href="/sah/index.html">Yakut</a></li>
</ul>
<h3>Northwestern</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/KZ.png"><a href="/kk/index.html">Kazakh</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/KG.png"><a href="/ky/index.html">Kyrgyz</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-TA.png"><a href="/tt/index.html">Tatar</a></li>
</ul>
<h3>Southeastern</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/CN.png"><a href="/ug/index.html">Uyghur</a></li>
</ul>
<h3>Southwestern</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/TR.png"><a href="/tr/index.html">Turkish</a></li>
</ul>
<h2>Uralic</h2>
<h3>Finnic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/EE.png"><a href="/et/index.html">Estonian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/FI.png"><a href="/fi/index.html">Finnish</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-KR.png"><a href="/krl/index.html">Karelian</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-KR.png"><a href="/olo/index.html">Livvi</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-VEPS.png"><a href="/vep/index.html">Veps</a></li>
</ul>
<h3>Mordvin</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-ERZYA.png"><a href="/myv/index.html">Erzya</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-MOKSHA.png"><a href="/mdf/index.html">Moksha</a></li>
</ul>
<h3>Permic</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-PER-KPO.png"><a href="/koi/index.html">Komi Permyak</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/RU-KO.png"><a href="/kpv/index.html">Komi Zyrian</a></li>
</ul>
<h3>Sami</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SAMI.png"><a href="/sme/index.html">North Sami</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/SAMI.png"><a href="/sms/index.html">Skolt Sami</a></li>
</ul>
<h3>Ugric</h3>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/HU.png"><a href="/hu/index.html">Hungarian</a></li>
</ul>
<h2>Uto-Aztecan</h2>
<ul style="list-style-type: none; padding: 0">
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/MX-NEWSPAIN.png"><a href="/nci/index.html">Classical Nahuatl</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/MX.png"><a href="/azz/index.html">Highland Puebla Nahuatl</a></li>
  <li style="display: flex; align-items: center; position: relative; padding-left: 55px"><img class="flag" style="position: absolute; left: 0" src="/flags/png/MX.png"><a href="/nhi/index.html">Western Sierra Puebla Nahuatl</a></li>
</ul>
