<table class="typeindex">
  <tr>
    <td>
      <table class="category">
        <tr><td><strong>Lexical features</strong></td></tr>
        <tr>
          <td><a>PronType</a></td>
        </tr>
        <tr>
          <td><a>NumType</a></td>
        </tr>
        <tr>
          <td><a>Poss</a></td>
        </tr>
        <tr>
          <td><strike>Reflex</strike></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td colspan="3"><strong>Inflectional features</strong></td></tr>
        <tr>
          <td><i>Nominal</i></td>
          <td><i>Verbal</i></td>
          <td><i>Particles</i></td>
        </tr>
        <tr>
          <td><a>Gender</a></td>
          <td><a>VerbForm</a></td>
          <td><a>PartType</a></td>
        </tr>
        <tr>
          <td><strike>Animacy</strike></td>
          <td><a>Mood</a></td>
          <td><a>Polarity</a></td>
        </tr>
        <tr>
          <td><a>Number</a></td>
          <td><a>Tense</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a>Case</a></td>
          <td><a>Aspect</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a>Definite</a></td>
          <td><strike>Voice</strike></td>
          <td></td>
        </tr>
        <tr>
          <td><a>Degree</a></td>
          <td><a>Person</a></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><strike>Negative</strike></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td><a>VerbType</a></td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
