Note: <i>punct</i> and <i>advmod:emph</i> appear in two places.

<table class="typeindex">
  <tr>
    <td>
      <table class="category">
	<tr><td colspan="3"><strong>Core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td colspan="2" align="center"><i>Clause</i></td>
	</tr>
	<tr>
	  <td><a>nsubj</a></td>
	  <td><a>csubj</a></td>
	  <td><a>xcomp</a></td>
	</tr>
	<tr>
	  <td>↳<a>nsubj:pass</a></td>
	  <td>↳<a>csubj:pass</a></td>
	   <td>↳<a>xcomp:subj</a></td>
	</tr>
	<tr>
	  <td><a>obj</a></td>
	  <td><a>ccomp</a></td>
	  <td>↳<a>xcomp:pred</a></td>
	</tr>
	<tr>
	  <td><a>iobj</a></td>
	  <td>↳<a>ccomp:obj</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Non-core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Clause</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a>obl</a></td>
	  <td><a>advcl</a></td>
	  <td><a>advmod</a></td>
	</tr>
	<tr>
	  <td>↳<a>obl:agent</a></td>
	  <td>↳<a>advcl:cmpr</a></td>
	  <td>↳<a>advmod:arg</a></td>
	</tr>
	<tr>
	  <td>↳<a>obl:arg</a></td>
	  <td>↳<a>advcl:relcl</a></td>
	  <td>↳<a>advmod:emph</a></td>
	</tr>
	<tr>
	  <td>↳<a>obl:cmpr</a></td>
	  <td></td>
	  <td>↳<a>advmod:neg</a></td>
	</tr>
	<tr>
	  <td>↳<a>obl:orphan</a></td>
	  <td></td>
	  <td></td>
	</tr>
	<tr></tr>
      </table>
    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Special clausal dependents</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td><tt>expl</tt></td>
	  <td><a>aux</a></td>
	  <td><a>mark</a></td>
	</tr>
	<tr>
	  <td>↳<a>expl:pv</a></td>
	  <td>↳<a>aux:clitic</a></td>
	  <td><a>punct</a></td>
	</tr>
	<tr>
	  <td><tt>discourse</tt></td>
	  <td>↳<a>aux:cnd</a></td>
	</tr>
	<tr>
	  <td>↳<a>discourse:emo</a></td>
	  <td>↳<a>aux:imp</a></td>
	</tr>
	<tr>
	  <td>↳<a>discourse:intj</a></td>
	  <td>↳<a>aux:pass</a></td>
	</tr>
	<tr>
	  <td><a>vocative</a></td>
	  <td><a>cop</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Noun dependents</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Clause</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a>nmod</a></td>
	  <td><a>acl</a></td>
	  <td><a>amod</a></td>
	</tr>
	<tr>
	  <td>↳<a>nmod:arg</a></td>
	  <td>↳<a>acl:relcl</a></td>
	  <td>↳<a>amod:flat</a></td>
	</tr>
	<tr>
	  <td>↳<a>nmod:flat</a></td>
	  <td></td>
	  <td>↳<a>advmod:emph</a></td>
	</tr>
	<tr>
	  <td>↳<a>nmod:poss</a></td>
	  <td><a>ccomp:cleft</a></td>
	  <td><a>det</a></td>
	</tr>
	<tr>
	  <td>↳<a>nmod:pred</a></td>
	  <td><a>xcomp:cleft</a></td>
	  <td>↳<a>det:numgov</a></td>
	</tr>
	<tr>
	  <td><a>appos</a></td>
	  <td>&nbsp;</td>
	  <td>↳<a>det:nummod</a></td>
	</tr>
	<tr>
	  <td><strike>clf</strike></td>
	  <td>&nbsp;</td>
	  <td>↳<a>det:poss</a></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td><a>nummod</a></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>↳<a>nummod:gov</a></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>↳<a>nummod:flat</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Compounding and unanalyzed</strong></td></tr>
	<tr>
	  <td><a>flat</a></td>
	  <td><a>fixed</a></td>
	  <td><strike>goeswith</strike></td>
	</tr>
	<tr>
	  <td>↳<a>flat:foreign</a></td>
	</tr>
	<tr>
	  <td><strike>compound</strike></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Coordination</strong></td></tr>
	<tr>
	  <td><a>conj</a></td>
	  <td><a>cc</a></td>
	  <td><a>punct</a></td>
	</tr>
	<tr>
	  <td></td>
	  <td>↳<a>cc:preconj</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Case-marking and prepositions</strong></td></tr>
	<tr>
	  <td><a>case</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Loose joining relations</strong></td></tr>
	<tr>
	  <td><a>list</a></td>
	  <td><tt>parataxis</tt></td>
	  <td><a>orphan</a></td>
	</tr>
	<tr>
	  <td><strike>dislocated</strike></td>
	  <td>↳<a>parataxis:insert</a></td>
	  <td><strike>reparandum</strike></td>
	</tr>
	<tr>
	  <td></td>
	  <td>↳<a>parataxis:obj</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><strong>Other</strong></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a>root</a></td>
	  <td><a>dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>