<table class="typeindex" border="1">
  <tr style="background-color:cornflowerblue;color:white">
    <td><strong>Lexical features</strong></td>
    <td colspan="2"><strong>Inflectional features</strong></td>
  </tr>
  <tr>
    <td></td>
    <td><i>Nominal</i></td>
    <td><i>Verbal</i></td>
  </tr>
        <tr>
          <td><a>PronType</a></td>
          <td><a>Gender</a></td>
          <td><a>VerbForm</a></td>
        </tr>
        <tr>
          <td><a>NumType</a></td>
          <td><a>Animacy</a></td>
          <td><a>Mood</a></td>
        </tr>
        <tr>
          <td><a>Poss</a></td>
          <td><a>Number</a></td>
          <td><a>Tense</a></td>
        </tr>
        <tr>
          <td><a>Reflex</a></td>
          <td><a>Case</a></td>
          <td><a>Aspect</a></td>
        </tr>
        <tr>
          <td><a>Abbr</a></td>
          <td><a>Deixis</a></td>
          <td><a>Voice</a></td>
        </tr>
        <tr>
          <td><a>Typo</a></td>
          <td><a>Variant</a></td>
          <td><a>Polarity</a></td>
        </tr>
        <tr>
          <td><a>Foreign</a></td>
          <td></td>
          <td><a>Person</a></td>
        </tr>
        <tr>
          <td><a>ExtPos</a></td>
          <td></td>
          <td></td>
        </tr>
</table>
