<table class="typeindex">
  <tr>
    <td>
      <table class="category">
        <tr><td><strong>Lexical features</strong></td></tr>
        <tr>
          <td><a>PronType</a></td>
        </tr>
        <tr>
          <td><a>NumType</a></td>
        </tr>
        <tr>
         <td><strong>+</strong><a>NumForm</a></td>
        </tr>
        <tr>
          <td><a>Poss</a></td>
        </tr>
        <tr>
          <td><a>Reflex</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Abbr</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Foreign</a></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td colspan="3"><strong>Inflectional features</strong></td></tr>
        <tr>
          <td><i>Nominal</i></td>
          <td><i>Verbal</i></td>
        </tr>
        <tr>
          <td><a>Gender</a></td>
          <td><a>VerbForm</a></td>
        </tr>
        <tr>
          <td><a>Animacy</a></td>
          <td><a>Mood</a></td>
        </tr>
        <tr>
          <td><a>Number</a></td>
          <td><a>Tense</a></td>
        </tr>
        <tr>
          <td><a>Case</a></td>
          <td><a>Aspect</a></td>
        </tr>
        <tr>
          <td><a>Definite</a></td>
          <td><strike><tt>Voice</tt></strike></td>
        </tr>
        <tr>
          <td><a>Degree</a></td>
          <td><a>Person</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Gender[psor]</a></td>
          <td><a>Polarity</a></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Number[psor]</a></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>+</strong><a>Variant</a></td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
