<table class="typeindex">
  <tr>
    <td>
      <table class="category">
        <tr><td><strong>Lexical features</strong></td></tr>
        <tr>
          <td><strike><a>PronType</a></strike></td>
        </tr>
        <tr>
          <td><strike><a>NumType</a></strike></td>
        </tr>
        <tr>
          <td><strike><a>Poss</a></strike></td>
        </tr>
        <tr>
          <td><strike><a>Reflex</a></strike></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td colspan="3"><strong>Inflectional features</strong></td></tr>
        <tr>
          <td><i>Nominal</i></td>
          <td><i>Verbal</i></td>
        </tr>
        <tr>
          <td><a>Gender</a></td>
          <td><a>VerbForm</a></td>
        </tr>
        <tr>
          <td><strike><a>Animacy</a></strike></td>
          <td><a>Mood</a></td>
        </tr>
        <tr>
          <td><a>Number</a></td>
          <td><a>Tense</a></td>
        </tr>
        <tr>
          <td><a>Case</a></td>
          <td><strike><a>Aspect</a></strike></td>
        </tr>
        <tr>
          <td><a>Definite</a></td>
          <td><a>Voice</a></td>
        </tr>
        <tr>
          <td><a>Degree</a></td>
          <td><a>Person</a></td>
        </tr>
        <tr>
          <td></td>
          <td><strike><a>Negative</a></strike></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
