<table class="typeindex">
  <tr>
    <td>
      <table class="category">
        <tr><td><b>Lexical features</b></td></tr>
        <tr>
          <td><a href="PronType.html">PronType</a></td>
        </tr>
        <tr>
          <td><a href="NumType.html">NumType</a></td>
        </tr>
        <tr>
          <td><a href="Poss.html">Poss</a></td>
        </tr>
        <tr>
          <td><a href="Reflex.html">Reflex</a></td>
        </tr>
      </table>
    </td>
    <td>
      <table class="category">
        <tr><td colspan="3"><b>Inflectional features</b></td></tr>
        <tr>
          <td><i>Nominal</i></td>
          <td><i>Verbal</i></td>
        </tr>
        <tr>
          <td><a href="Gender.html">Gender</a></td>
          <td><a href="VerbForm.html">VerbForm</a></td>
        </tr>
        <tr>
          <td><a href="Animacy.html">Animacy</a></td>
          <td><a href="Mood.html">Mood</a></td>
        </tr>
        <tr>
          <td><a href="Number.html">Number</a></td>
          <td><a href="Tense.html">Tense</a></td>
        </tr>
        <tr>
          <td><a href="Case.html">Case</a></td>
          <td><a href="Aspect.html">Aspect</a></td>
        </tr>
        <tr>
          <td><a href="Definite.html">Definite</a></td>
          <td><a href="Voice.html">Voice</a></td>
        </tr>
        <tr>
          <td><a href="Degree.html">Degree</a></td>
          <td><a href="Person.html">Person</a></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="Negative.html">Negative</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
