<table class="statustable">
  <tbody>
    <tr>
      <td colspan="2">Status</td>
    </tr>
    <tr>
      <td>Overview:</td>
      <td class="none">template only</td>
    </tr>
    <tr>
      <td>POS tags:</td>
      <td class="none">template only</td>
    </tr>
    <tr>
      <td>Features:</td>
      <td class="none">template only</td>
    </tr>
    <tr>
      <td>Relations:</td>
      <td class="none">template only</td>
    </tr>
    <tr>
      <td>Data:</td>
      <td class="none">none</td>
    </tr>
  </tbody>
</table>
