<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="2"><strong>Core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a>nsubj</a></td>
	  <td><a>csubj</a></td>
	</tr>
	<tr>
	  <td><a>obj</a></td>
	  <td><a>ccomp</a></td>
	</tr>
	<tr>
	  <td><a>iobj</a></td>
	  <td><a>xcomp</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="4"><strong>Non-core dependents of clausal predicates</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	  <td><i>Function word</i></td>
	</tr>
	<tr>
	  <td><a>obl</a></td>
	  <td><a>advcl</a></td>
	  <td><a>advmod</a></td>
	  <td><a>aux</a></td>
	</tr>
	<tr>
	  <td>vocative</td>
	  <td>&nbsp;</td>
	  <td>discourse</td>
	  <td><a>cop</a></td>
	</tr>
	<tr>
	  <td>expl</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td><a>mark</a></td>
	</tr>
      </table>

    </td>
	  
    <td>

      <table class="category">
	<tr><td colspan="4"><strong>Noun dependents</strong></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	  <td><i>Function word</i></td>
	</tr>
	<tr>
	  <td><a>nmod</a></td>
	  <td><a>acl</a></td>
	  <td><a>amod</a></td>
	  <td><a>det</a></td>
	</tr>
	<tr>
	  <td><a>appos</a></td>
	  <td>&nbsp;</td>
	  <td><a>&nbsp;</a></td>
	  <td><a>clf</a></td>
	</tr>
	<tr>
	  <td><a>nummod</a></td>
	  <td>&nbsp;</td>
	  <td><a>nbsp;</a></td>
	  <td><a>case</a></td>
	</tr>
      </table>

    </td>

  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="2"><strong>Coordination</strong></td></tr>
	<tr>
	  <td><a>conj</a></td>
	</tr>
	<tr>
	  <td><a>cc</a></td>
	</tr>
	<tr>
	  <td><a>orphan</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="2"><strong>MWE</strong></td></tr>
	<tr>
	  <td><a>fixed</a></td>
	</tr>
	<tr>
	  <td><a>flat</a></td>
	</tr>
	<tr>
	  <td><a>compound</a></td>
	</tr>
      </table>

    </td>
    <td>
      <table class="category">
	<tr><td colspan="2"><strong>Loose</strong></td></tr>
	<tr>
	  <td><a>list</a></td>
	</tr>
	<tr>
	  <td><a>parataxis</a></td>
	</tr>
	<tr>
	  <td><a>dislocated</a></td>
	</tr>
      </table>

    </td>
    <td>
      <table class="category">
	<tr><td colspan="2"><strong>Special</strong></td></tr>
	<tr>
	  <td><a>goeswith</a></td>
	</tr>
	<tr>
	  <td><a>reparandum</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="2"><strong>Other</strong></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a>root</a></td>
	  <td><a>dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>
