Note: <i>nmod</i>, <i>neg</i>, and <i>punct</i> appear
in two places.

<table class="typeindex">
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	</tr>
	<tr>
	  <td><a href="nsubj.html">nsubj</a></td>
	  <td><a href="csubj.html">csubj</a></td>
	</tr>
	<tr>
	  <td><a href="nsubjpass.html">nsubjpass</a></td>
	  <td><a href="csubjpass.html">csubjpass</a></td>
	</tr>
	<tr>
	  <td><a href="dobj.html">dobj</a></td>
	  <td><a href="ccomp.html">ccomp</a></td>
	  <td><a href="xcomp.html">xcomp</a></td>
	</tr>
	<tr>
	  <td><a href="iobj.html">iobj</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Non-core dependents of clausal predicates</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a href="nmod.html">nmod</a></td>
	  <td><a href="advcl.html">advcl</a></td>
	  <td><a href="advmod.html">advmod</a></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  <td><a href="neg.html">neg</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Special clausal dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Auxiliary</i></td>
	  <td><i>Other</i></td>
	</tr>
	<tr>
	  <td><a href="vocative.html">vocative</a></td>
	  <td><a href="aux.html">aux</a></td>
	  <td><a href="mark.html">mark</a></td>
	</tr>
	<tr>
	  <td><a href="discourse.html">discourse</a></td>
	  <td><a href="auxpass.html">auxpass</a></td>
	  <td><a href="punct.html">punct</a></td>
	</tr>
	<tr>
	  <td><a href="expl.html">expl</a></td>
	  <td><a href="cop.html">cop</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Noun dependents</b></td></tr>
	<tr>
	  <td><i>Nominal dep</i></td>
	  <td><i>Predicate dep</i></td>
	  <td><i>Modifier word</i></td>
	</tr>
	<tr>
	  <td><a href="nummod.html">nummod</a></td>
	  <td><a href="acl.html">acl</a></td>
	  <td><a href="amod.html">amod</a></td>
	</tr>
	<tr>
	  <td><a href="appos.html">appos</a></td>
	  <td>&nbsp;</td>
	  <td><a href="det.html">det</a></td>
	</tr>
	<tr>
	  <td><a href="nmod.html">nmod</a></td>
	  <td>&nbsp;</td>
	  <td><a href="neg.html">neg</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Compounding and unanalyzed</b></td></tr>
	<tr>
	  <td><a href="compound.html">compound</a></td>
	  <td><a href="mwe.html">mwe</a></td>
	  <td><a href="goeswith.html">goeswith</a></td>
	</tr>
	<tr>
	  <td><a href="name.html">name</a></td>
	  <td><a href="foreign.html">foreign</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Coordination</b></td></tr>
	<tr>
	  <td><a href="conj.html">conj</a></td>
	  <td><a href="cc.html">cc</a></td>
	  <td><a href="punct.html">punct</a></td>
	</tr>
      </table>

    </td>
  </tr>
  <tr>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Case-marking, prepositions, possessive</b></td></tr>
	<tr>
	  <td><a href="case.html">case</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Loose joining relations</b></td></tr>
	<tr>
	  <td><a href="list.html">list</a></td>
	  <td><a href="parataxis.html">parataxis</a></td>
	  <td><a href="remnant.html">remnant</a></td>
	</tr>
	<tr>
	  <td><a href="dislocated.html">dislocated</a></td>
	  <td></td><td><a href="reparandum.html">reparandum</a></td>
	</tr>
      </table>

    </td>
    <td>

      <table class="category">
	<tr><td colspan="3"><b>Other</b></td></tr>
	<tr>
	  <td><i>Sentence head</i></td>
	  <td colspan="2"><i>Unspecified dependency</i></td>
	</tr>
	<tr>
	  <td><a href="root.html">root</a></td>
	  <td><a href="dep.html">dep</a></td>
	</tr>
      </table>

    </td>
  </tr>
</table>
