For core part-of-speech categories, see the [universal POS tags](../pos/index.html).
The features listed here distinguish additional lexical and grammatical properties of words,
not covered by the POS tags.

<table class="typeindex" border="1">
  <tr style="background-color:cornflowerblue">
    <td><strong>Lexical features</strong></td>
    <td colspan="2"><strong>Inflectional features</strong></td>
  </tr>
  <tr>
    <td></td>
    <td><i>Nominal*</i></td>
    <td><i>Verbal*</i></td>
  </tr>
  <tr>
    <td><a>PronType</a></td>
    <td><a>Gender</a></td>
    <td><a>VerbForm</a></td>
  </tr>
  <tr>
    <td><a>NumType</a></td>
    <td><a>Animacy</a></td>
    <td><a>Mood</a></td>
  </tr>
  <tr>
    <td><a>Poss</a></td>
    <td><a>Number</a></td>
    <td><a>Tense</a></td>
  </tr>
  <tr>
    <td><a>Reflex</a></td>
    <td><a>Case</a></td>
    <td><a>Aspect</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a>Definite</a></td>
    <td><a>Voice</a></td>
  </tr>
  <tr>
    <td></td>
    <td><a>Degree</a></td>
    <td><a>Person</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><a>Negative</a></td>
  </tr>
</table>
\* The labels <i>Nominal</i> and <i>Verbal</i> are used as approximate categories only. There is no universal rule that a particular feature can only occur with verbs or nominals (although language-specific rules may define such constraints).
 