Personal pronouns:

<table class="typeindex" border="1">
<tr>
  <td align="middle"></td>
  <td align="middle"><b>1 SG</b><br/><i>I, me</i></td>
  <td align="middle"><b>1 PL</b><br/><i>we, us</i></td>
  <td align="middle"><b>2 SG</b><br/><i>you (sg.)</i></td>
  <td align="middle"><b>2 PL</b><br/><i>you (pl.)</i></td>
  <td align="middle"><b>Reflex SG</b><br/><i>self (sg.)</i></td>
  <td align="middle"><b>Reflex PL</b><br/><i>self (pl.)</i></td>
</tr>
<tr>
  <td align="left">
    <b>Direct</b><br/>
    <b>(Vocative)</b>
  </td>
  <td align="middle">زۀ zë</td>
  <td align="middle", rowspan=3>موږ muǧ<br/>مونږ munǧ</td>
  <td align="middle">تۀ të</td>
  <td align="middle", rowspan=3>تاسو tấso<br/>تاسې tấse</td>
  <td align="middle", rowspan=2>ځان żân</td>
  <td align="middle">ځانونه żânúna</td>
</tr>
<tr>
  <td align="left">
    <b>Oblique</b><br/>
    <b>Locative</b><br/>
  </td>
  <td align="middle", rowspan=2>ما mâ</td>
  <td align="middle", rowspan=2>تا tâ</td>
  <td align="middle", rowspan=2>ځانونو żânúno</td>
</tr>
<tr>
  <td align="left">
    <b>Ablative</b>
  </td>
  <td align="middle">ځانه żấna</td>
</tr>
<tr>
  <td align="left"><b>Genitive</b></td>
  <td align="middle">زما zmâ</td>
  <td align="middle">زموږ zmuǧ<br/>زمونږ zmunǧ</td>
  <td align="middle">ستا stâ</td>
  <td align="middle", rowspan=2>ستاسو stấso<br/>ستاسې stấse</td>
  <td align="middle", colspan=2>(خپل xpël) **</td>
</tr>
</table>
