{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-GB" xml:lang="en-GB" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="root" href="{{ relative }}"/> <!-- for JS -->
    <link rel="stylesheet" type="text/css" href="{{ relative }}css/jquery-ui-redmond.css"/>
    <link rel="stylesheet" type="text/css" href="{{ relative }}css/style.css"/>
    <link rel="stylesheet" type="text/css" href="http://weaver.nlplab.org/~brat/demo/v1.3/style-vis.css"/>
    <script type="text/javascript" src="{{ relative }}lib/ext/head.load.min.js"></script>
<!--     <link rel="shortcut icon" href="favicon.ico"/> -->
  </head>
  <body>
    <div id="main" class="center">

      <div id="hp-header">
          <span class="header-text"><a href="{{ site.home }}">home</a></span>
{% if page.generated != 'true' %}
          <span class="header-text"><a href="{{ site.git_edit }}/{{ page.url | replace: '/en-dep/', '/_en-dep/' | replace: '/fi-dep/', '/_fi-dep/' | replace: '/ud-dep/', '/_ud-dep/' | replace: '/ud-pos/', '/_ud-pos/' | remove_first:'/' | replace: '.html', '.md' }}" target="#">edit page</a></span>
{% endif %}
          <span class="header-text"><a href="{{ site.tracker }}">issue tracker</a></span>
      </div>

      <hr/>

      <div id="content">
	<noscript>
	  <div id="noscript">
	    It appears that you have Javascript disabled.
	    Please consider enabling Javascript for this page to see the visualizations.
	  </div>
	</noscript>

          {{ content }}

<!-- "relation in other languages" links -->
<hr/>
{% for r in site.data.relations %}
{% if r.label == page.title %}
{{ r.label }} in other languages:
{% for l in r.languages %}
[<a href="{{ relative }}{{ l.label }}/{{ r.label }}.html">{{ l.label | replace: '-dep', '' }}</a>]
{% endfor %}
{% endif %}
{% endfor %}

      </div>

<!-- support for embedded visualizations -->
{% include embedding.html %}

      <div id="footer">
          <p class="footer-text">embedded brat &copy; 2010-{{ site.time | date: "%Y" }} the <a href="http://brat.nlplab.org/about.html" style="color:gray">brat contributors</a></p>
      </div>
    </div>
  </body>
</html>
