{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-GB" xml:lang="en-GB" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="root" href="{{ relative }}"/> <!-- for JS -->
    <link rel="stylesheet" type="text/css" href="{{ relative }}css/jquery-ui-redmond.css"/>
    <link rel="stylesheet" type="text/css" href="{{ relative }}css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ relative }}css/style-vis.css"/>
    <script type="text/javascript" src="{{ relative }}lib/ext/head.load.min.js"></script>
<!--     <link rel="shortcut icon" href="favicon.ico"/> -->
  </head>
  <body>
    <div id="main" class="center">

      <div id="hp-header">
	
          <span class="header-text"><a href="{{ site.home }}{% if page.collection %}#language-{{ page.collection | split: '-' | first }}{% endif %}">home</a></span>
{% if page.category and page.collection %}{% capture lang %}{{ page.collection | split:'-' | first }}{% endcapture %}
          <span class="header-text"><a href="{{ site.home }}/{{ lang }}/{{ page.category }}">{{ lang }}/{{ page.category }}s</a></span>
{% endif %}
{% if page.generated != 'true' %}
          <span class="header-text"><a href="{{ site.git_edit }}/{% if page.collection %}{{ page.relative_path }}{% else %}{{ page.path }}{% endif %}" target="#">edit page</a></span>
{% endif %}
          <span class="header-text"><a href="{{ site.tracker }}">issue tracker</a></span>
      </div>

      <hr/>

      <div id="content">
	<noscript>
	  <div id="noscript">
	    It appears that you have Javascript disabled.
	    Please consider enabling Javascript for this page to see the visualizations.
	  </div>
	</noscript>

          {{ content }}

      </div>

<!-- support for embedded visualizations -->
{% include embedding.html %}

<!-- google analytics -->
{% include analytics.html %}

      <div id="footer">
	  <p class="footer-text">&copy; 2014 
	    <a href="http://universaldependencies.github.io/docs/introduction.html#contributors" style="color:gray">Universal Dependencies contributors</a>. 
	    Site powered by <a href="http://spyysalo.github.io/annodoc" style="color:gray">Annodoc</a> and <a href="http://brat.nlplab.org/" style="color:gray">brat</a></p>.
      </div>
    </div>
  </body>
</html>
